<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Activity History</title>
  <style>
    .activity-header {
      font-weight: bold;
      font-size: 1.5rem;
    }
    .activity-time {
      font-size: 0.9rem;
      color: gray;
    }

    pre {
      background-color: #f8f9fa;
      padding: 10px;
      border-radius: 5px;
      overflow-x: auto;
    }

    code {
      font-family: monospace;
      white-space: pre-wrap;
    }
  </style>
</head>

<body>
  <div class="container mt-5">
    <h1 class="mb-4">Hoạt động</h1>
    <% activities.forEach((activity) => { %>
    <div class="card mb-3">
      <div class="card-body">
        <div class="activity-header">
          <% let actionText; switch (activity.actionType) { case 'create':
          actionText = 'Tạo'; break; case 'delete': actionText = 'Xóa'; break;
          case 'update': actionText = 'Cập nhật'; break; default: actionText =
          activity.actionType; } %> <%= actionText %> bởi: <%=
          activity.userId.username %>
          <span class="activity-time float-right"
            ><%= new Date(activity.timestamp).toLocaleString() %></span
          >
        </div>
        <p class="mb-1"><%= activity.details %></p>
        <small class="text-muted"
          >Các thay đổi:
          <button
            class="btn btn-link p-0"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#<%= activity._id %>"
          >
            Xem
          </button>
        </small>
      </div>
    </div>
    <!-- Modal -->
    <div
      class="modal fade"
      id="<%= activity._id %>"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div
        class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable"
      >
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Các thay đổi</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col col-md-6">
                <h6>Giá trị cũ:</h6>
                <% const oldValues = activity.oldValues || {}; %> <% const
                replacer = (key, value) => key === '_id' ? undefined : value; %>
                <% Object.entries(oldValues).forEach(([key, value]) => { %> <%
                if (key !== '_id' && key !== '__v' && key !== 'slug' && key !==
                'supplierSlug') { %>
                <div>
                  <strong><%= key %>:</strong>
                  <pre><code><%= value == null ? '' : (typeof value === 'object' ? JSON.stringify(value, replacer, 2) : value) %></code></pre>
                </div>
                <% } %> <% }); %>
              </div>
              <div class="col col-md-6">
                <h6>Giá trị mới:</h6>
                <% const newValues = activity.newValues || {}; %> <%
                Object.entries(newValues).forEach(([key, value]) => { %> <% if
                (key !== '_id' && key !== '__v' && key !== 'slug' && key !==
                'supplierSlug') { %>
                <div>
                  <strong><%= key %>:</strong>
                  <pre><code><%= value == null ? '' : (typeof value === 'object' ? JSON.stringify(value, replacer, 2) : value) %></code></pre>
                </div>
                <% } %> <% }); %>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Đóng
            </button>
          </div>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
</body>
