<head>
  <!-- js -->
  <script src="/js/datatable.js"></script>
  <script src="/js/multipleFieldsWithText.js"></script>
  <script src="/js/slim-select.js" defer></script>
  <script src="/js/toggleButtons.js" defer></script>
  <style>
    .hide {
      display: none;
    }
    .rotate {
      transform: rotate(180deg);
      transition: transform 0.3s ease-in-out;
    }
  </style>
</head>
<button
  type="button"
  class="btn btn-danger mx-2 mx-md-3 mt-2"
  data-bs-toggle="modal"
  data-bs-target="#deleteAll"
  style="width: max-content"
>
  Xóa tất cả thông tin
</button>

<div class="row m-0 m-md-2 g-3 mb-4">
  <div class="col-12 col-md-9 mt-2">
    <div class="card" style="box-shadow: 0 1px 2px">
      <div class="card-header bg-transparent">
        <%- include('../partials/dateSelection.ejs') %>
      </div>
      <div class="card-body">
        <table class="table table-striped" id="datatable">
          <thead>
            <tr>
              <th>STT</th>
              <th>Khu vực</th>
              <th>Nướng hàm lượng</th>
              <th>Chỉnh sửa</th>
            </tr>
          </thead>

          <tbody>
            <% areas.forEach( (area,index) => { %>

              <!-- Delete confirming modal  -->
              <div
                class="modal fade"
                id="deleteModalToggle<%= area._id %>"
                aria-hidden="true"
                aria-labelledby="exampleModalToggleLabel"
                tabindex="-1"
              >
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalToggleLabel">
                        Xóa hợp đồng <%= area.code %>
                      </h1>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <form
                      action="/quan-ly-hop-dong/delete/<%= area._id %>"
                      method="post"
                    >
                      <div class="modal-body">
                        Bạn có muốn xóa hợp đồng mã
                        <strong><%= area.code %></strong> ? Hành động này không
                        thể hoàn tác.
                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">
                          Xác nhận
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3 mt-2">
    <div class="card" style="box-shadow: 0 1px 2px">
      <div class="card-header bg-transparent">
        <h4 class="m-0">Tạo khu vực</h4>
      </div>
      <form action="/du-lieu-hang-ngay/addData" method="post">
        <div class="card-body">
          <%- include('../partials/notificationMessage.ejs') %>
          <div>
            <label for="areaName" class="form-label fw-bold">Tên khu vực</label>
            <input
              type="text"
              class="form-control"
              id="areaName"
              name="areaName"
              placeholder="Nhập tên khu vực"
              required
            />
          </div>
          <div class="my-3">
            <label for="accountID" class="form-label fw-bold"
              >Người nướng hàm lượng</label
            >
            <select
              class="form-control slim-select"
              id="accountID"
              name="accountID"
            >
              <% hamLuongAccounts.forEach(account => { %>
              <option selected disabled>Chọn người nướng hàm lượng</option>
              <option value="<%= account._id %>">
                <%= account.username %>
              </option>
              <% }) %>
            </select>
          </div>

          <div class="supplierInfor my-3">
            <div class="supplier">
              <div class="row mt-3">
                <div class="row m-0 p-0">
                  <div class="col">
                    <label
                      for="name"
                      class="form-label fw-bold w-100 d-flex justify-content-between"
                    >
                      1. Nhà vườn
                      <span>
                        <i
                          class="ri-close-line"
                          style="cursor: pointer"
                          onclick="removeProduct(this, '.supplier')"
                        ></i>
                      </span>
                    </label>
                  </div>
                </div>
                <div class="row normalFields m-0 p-0">
                  <div class="col col-md-6">
                    <label for="supplierName" class="form-label fw-bold"
                      >Tên</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="supplierName"
                      name="supplierName"
                      placeholder="Văn A"
                    />
                  </div>
                  <div class="col col-md-6">
                    <label for="code" class="form-label fw-bold">Mã</label>
                    <input
                      type="text"
                      class="form-control"
                      id="code"
                      name="code"
                      placeholder="Van20"
                    />
                  </div>
                </div>
                <div
                  class="additionalFields my-3 m-0 p-0"
                  style="display: none"
                ></div>
              </div>
            </div>
          </div>

          <div class="btnController my-3">
            <button
              type="button"
              onclick="addInputField('.supplierInfor', '.supplier', false, 'Nhà vườn');"
              style="background: transparent; border: none"
              title="Thêm hàng hóa"
            >
              <i class="ri-add-circle-line fs-5"></i>
            </button>
          </div>

          <div class="card-footer bg-transparent">
            <!-- Buttons -->
            <button type="submit" class="btn btn-primary">Tạo mới</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal for deleting all products -->
<div
  class="modal fade"
  id="deleteAll-admin-user"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="deleteUsers"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteUsers">Xóa tất cả khu vực</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form action="/quan-ly-khu-vuc/deleteAll" method="post">
        <div class="modal-body">
          Bạn có muốn xóa <strong>tất cả</strong> khu vực? Những không tin của
          vườn sẽ dc giữ. Hành động này không thể hoàn tác.
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger">Xác nhận</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Delete plantation Confirmation Modal -->
<div
  class="modal fade"
  id="deleteConfirmModal"
  tabindex="-1"
  aria-labelledby="deleteConfirmModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteConfirmModalLabel">Xác nhận xóa?</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form action="/quan-ly-khu-vuc/removePlantaion" method="post">
        <input type="hidden" id="deleteAreaId" name="areaId" value="" />
        <input type="hidden" id="deleteId" name="plantationId" value="" />
        <div class="modal-body">
          Bạn có muốn xóa <strong id="deleteName"></strong>? Hành động này không
          thể hoàn tác.
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Hủy
          </button>
          <button type="submit" class="btn btn-danger">Xác nhận</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const productLists = document.querySelectorAll('.supplierInfor .supplier');
    const displayStyle = productLists.length > 1 ? 'block' : 'none';
    productLists.forEach(
      el => (el.querySelector('.ri-close-line').style.display = displayStyle),
    );
  });

  let columns = [
    { data: 'no', orderable: false, width: '1%' },
    { data: 'area', orderable: false, width: '1%' },
    { data: 'accountID', orderable: false, width: '1%' },
    {
      data: 'link',
      orderable: false,
      width: '1%',
      render: function (data, type, row) {
        return `
            <div class="d-flex justify-content-between fs-5">
              <a href="/du-lieu-hang-ngay/${row.link.slug}" class="text-decoration-none text-dark">
                <i
                    class="ri-edit-box-line"
                    style="cursor: pointer;"
                ></i>
              </a>
              <i
                  class="ri-delete-bin-line"
                  data-bs-toggle="modal"
                  data-bs-target="#deleteModalToggle${row.link._id}"
                  style="cursor: pointer;"
              ></i>
            </div>
            `;
      },
    },
  ];

  initializeDataTable(
    '#datatable',
    '/du-lieu-hang-ngay/getData',
    '#staticBackdrop',
    '#deleteModalToggle',
    columns,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
  );
</script>
