<head>
  <!-- js -->
  <!-- datatable -->
  <script src="https://cdn.datatables.net/rowgroup/1.5.0/js/dataTables.rowGroup.js"></script>
  <script src="/js/datatable.js"></script>
  <script src="/js/multipleFieldsWithText.js"></script>
  <script src="/js/slim-select.js" defer></script>
  <script src="/js/toggleButtons.js" defer></script>
  <script src="/js/inputFieldRestriction.js" defer></script>
  <style>
    .hide {
      display: none;
    }
    .rotate {
      transform: rotate(180deg);
      transition: transform 0.3s ease-in-out;
    }
    .btn-light[aria-expanded="true"] {
    font-weight: bold;
    color: #ffffff;
    background: #007bff !important;
  }
    /* Hide the spinners in input type number for Chrome, Safari, Edge, and Opera */
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  
    /* Hide the spinners in input type number for Firefox */
    input[type="number"] {
      -moz-appearance: textfield;
    }
  </style>
</head>

<!-- breadcrumb -->
<nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';" class="mx-2 mx-md-4">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/du-lieu-hang-ngay">Dự liệu hằng ngày</a></li>
    <li class="breadcrumb-item active" aria-current="page">
      <%= area.name %>
    </li>
  </ol>
</nav>

<button class="btn btn-secondary mx-3" style="padding: 0;">
  <a href="/du-lieu-hang-ngay/<%= area.slug %>/xuat-file" style="display: block; text-decoration: none; color: white; padding: 0.375rem 0.75rem;">
    Xuất file
  </a>
</button>


<div class="row m-0 m-md-2 g-3 mb-4">
  <div class="col-12 col-md-9 mt-2">
    <div class="row mb-3">
      <div class="col">
        <div class="accordion" id="areaInfoAccordion">
          <div class="accordion-item">
            <h4 class="accordion-header" id="headingAreaInfo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAreaInfo" aria-expanded="false" aria-controls="collapseAreaInfo">
                <h5 class="m-0">Thông tin khu vực</h5>
              </button>
            </h4>
            <div id="collapseAreaInfo" class="accordion-collapse collapse" aria-labelledby="headingAreaInfo" data-bs-parent="#areaInfoAccordion">
              <div class="accordion-body">
                <div class="row">
                  <div class="col-md-6">
                    <p><strong>Tên khu vực:</strong> <%= area.name %></p>
                    <p><strong>Người nướng hàm lượng:</strong> <%= area.accountID ? area.accountID.username : 'Chưa được chỉ định' %></p>
                    <p><strong>Địa chỉ:</strong> <%= area.address %></p>
                  </div>
                  <div class="col-md-6">
                    <p><strong>Thời hạn hợp đồng:</strong> 
                      <% if (area.contractDuration && area.contractDuration.start && area.contractDuration.end) { %>
                        <%= new Date(area.contractDuration.start).toLocaleDateString('vi-VN') %> - <%= new Date(area.contractDuration.end).toLocaleDateString('vi-VN') %>
                      <% } else { %>
                        Không có thông tin
                      <% } %>
                    </p>
                    <p><strong>Diện tích khu vực:</strong> <%= area.areaDimension ? area.areaDimension.toLocaleString('vi-VN') + ' mẫu' : 'Chưa có thông tin' %></p>
                    <p><strong>Giá khu vực:</strong> <%= area.areaPrice ? area.areaPrice.toLocaleString('vi-VN') + ' VNĐ' : 'Chưa có thông tin' %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card" style="box-shadow: 0 1px 2px">
      <div class="card-header bg-transparent">
        <%- include('../partials/dateSelection.ejs') %>
      </div>
      <div class="card-body">
        <table class="table table-striped" id="table">
          <thead>
            <tr>
              <th rowspan="2">STT</th>
              <th rowspan="2">Ngày</th>
              <th rowspan="2">Nhà vườn</th>
              <th rowspan="2">Mã</th>
              <th colspan="3">Mủ quy khô</th>
              <th>Mủ tạp</th>
              <th>Mủ ké</th>
              <th>Mủ đông</th>
              <th rowspan="2">Ghi chú</th>
              <th rowspan="2">Chỉnh sửa</th>
            </tr>
            <tr>
              <th>SL</th>
              <th>Hàm lượng</th>
              <th>Tổng</th>
              <th>SL</th>
              <th>SL</th>
              <th>SL</th>
            </tr>
          </thead>

          <tbody>
            <% area.data.forEach( (eachData,index) => { %>
            <!-- Modal for updating -->
            <div
              class="modal fade"
              id="staticBackdrop<%= eachData._id %>"
              data-bs-backdrop="static"
              data-bs-keyboard="false"
              tabindex="-1"
              aria-hidden="true"
            >
              <div
                class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
              >
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" >
                      Cập nhật thông tin <%= eachData.supplier.name %>
                    </h1>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>

                  <form
                    action="/nhap-du-lieu/nguyen-lieu/updateData/<%= eachData._id %>"
                    method="post"
                  >
                    <div class="modal-body">
                      <%- include('../partials/notificationMessage.ejs') %>

                      <div>
                        <label for="date" class="form-label fw-bold"
                          >Ngày nhập</label
                        >
                        <input
                          type="date"
                          class="form-control"
                          id="date"
                          name="date"
                          value="<%= eachData.date.toISOString().slice(0,10) %>"
                          required
                        />
                      </div>

                      <div class="my-3">
                        <label for="supplier" class="form-label fw-bold"
                          >Nhà vườn</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="supplier"
                          name="supplier"
                          placeholder="Văn A"
                          value="<%= eachData.supplier.name %>"
                          disabled
                          required
                        />
                      </div>

                      <div class="itemLists my-3">
                        <% eachData.rawMaterial.forEach((raw, rawIndex) => { %>
                          <% if (raw.name === 'Mủ nước') { %>
                            <div class="itemList">
                              <div class="row my-3">
                                <label class="form-label fw-bold">Mủ nước</label>
                                <div class="col col-md-6">
                                  <label for="muNuocQuantity<%= index %>" class="form-label">Số lượng</label>
                                  <input
                                    type="number"
                                    class="form-control"
                                    id="muNuocQuantity<%= index %>"
                                    name="muNuocQuantity"
                                    value="<%= raw.quantity %>"
                                    required
                                  />
                                </div>
                                <div class="col col-md-6">
                                  <label for="muNuocPercentage<%= index %>" class="form-label">Hàm lượng</label>
                                  <input
                                    type="number"
                                    class="form-control"
                                    id="muNuocPercentage<%= index %>"
                                    name="muNuocPercentage"
                                    max="100"
                                    value="<%= raw.percentage %>"
                                    required
                                  />
                                </div>
                              </div>
                            </div>
                          <% } else if (raw.name === 'Mủ tạp') { %>
                            <div class="itemList">
                              <div class="row my-3">
                                <label class="form-label fw-bold">Mủ tạp</label>
                                <div class="col">
                                  <label for="muTapQuantity<%= index %>" class="form-label">Số lượng</label>
                                  <input
                                    type="number"
                                    class="form-control"
                                    id="muTapQuantity<%= index %>"
                                    name="muTapQuantity"
                                    value="<%= raw.quantity %>"
                                    required
                                  />
                                </div>
                              </div>
                            </div>
                            <% } else if (raw.name === 'Mủ ké') { %>
                              <div class="itemList">
                                <div class="row my-3">
                                  <label class="form-label fw-bold">Mủ Ké</label>
                                  <div class="col">
                                    <label for="muKeQuantity<%= index %>" class="form-label">Số lượng</label>
                                    <input
                                      type="number"
                                      class="form-control"
                                      id="muKeQuantity<%= index %>"
                                      name="muKeQuantity"
                                      value="<%= raw.quantity %>"
                                      required
                                    />
                                  </div>
                                </div>
                              </div>
                            <% } else if (raw.name === 'Mủ đông') { %>
                              <div class="itemList">
                                <div class="row my-3">
                                  <label class="form-label fw-bold">Mủ Đông</label>
                                  <div class="col">
                                    <label for="muDongQuantity<%= index %>" class="form-label">Số lượng</label>
                                    <input
                                      type="number"
                                      class="form-control"
                                      id="muDongQuantity<%= index %>"
                                      name="muDongQuantity"
                                      value="<%= raw.quantity %>"
                                      required
                                    />
                                  </div>
                                </div>
                              </div>
                            <% } %>
                          <% }) %>
                      </div>
                      <div class="itemList">
                        <div class="row my-3">
                          <label class="form-label fw-bold">Ghi chú</label>
                          <div class="col-12">
                              <textarea
                                class="form-control"
                                name="note"
                                rows="3"
                              ><%= eachData.note %></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer bg-transparent">
                      <!-- Buttons -->
                      <button type="submit" class="btn btn-primary">Lưu</button>
                      <button type="reset" class="btn text-dark">
                        Làm mới
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- Delete confirming modal  -->
            <div
              class="modal fade"
              id="deleteModalToggle<%= eachData._id %>"
              aria-hidden="true"
              aria-labelledby="exampleModalToggleLabel"
              tabindex="-1"
            >
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel">
                      Xóa dữ liệu của <%= eachData.supplier.name %>
                    </h1>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <form
                    action="/nhap-du-lieu/nguyen-lieu/deleteData/<%= eachData._id %>"
                    method="post"
                  >
                    <div class="modal-body">
                      Bạn có muốn xóa dữ liệu của
                      <strong><%= eachData.supplier.name %></strong> ? Hành động này
                      không thể hoàn tác.
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-danger">
                        Xác nhận
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <% }) %>
          </tbody>
          <tfoot>
            <th colspan="6">Tổng</th>
            <th></th>
            <th></th>
            <th></th>
            <th ></th>
            <th colspan="2"></th>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3 mt-2">
    <div class="card" style="box-shadow: 0 1px 2px">
      <div class="card-header bg-transparent">
        <div class="d-flex d-flex flex-wrap gap-2">
          <button
            class="btn btn-light"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#suppliers"
            aria-expanded="true"
            aria-controls="suppliers"
          >
            Nhà vườn
          </button>
          <button
            class="btn btn-light"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#updateArea"
            aria-expanded="false"
            aria-controls="updateArea"
          >
            Chỉnh sửa
          </button>
          <button
            class="btn btn-light"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#setting"
            aria-expanded="false"
            aria-controls="setting"
          >
            Cài đặt
          </button>
        </div>
      </div>
        <div class="card-body">
          <%- include('../partials/notificationMessage.ejs') %>
          <div class="accordion" id="areaAccordion">
            <!-- Supplier details -->
            <div
              id="suppliers"
              class="collapse show"
              aria-labelledby="suppliersHeading"
              data-bs-parent="#areaAccordion"
            >
              <h4>Nhà vườn</h4>
              <ol class="list-group list-group-numbered my-2">
                <% area.suppliers.forEach((supplier, index) =>{ %>
                <li
                  class="list-group-item d-flex justify-content-between align-items-start"
                >
                  <div class="ms-2 me-auto">
                    <div class="fw-bold"><%= supplier.name %></div>
                    <%= supplier.code %>
                  </div>
                </li>
                <% }) %>
              </ol>
            </div>
            <!-- Update Area -->
            <div
              id="updateArea"
              class="collapse"
              aria-labelledby="updateAreaHeading"
              data-bs-parent="#areaAccordion"
            >
              <h4>Chỉnh sửa</h4>
              <form action="/du-lieu-hang-ngay/update/<%= area._id %>" method="post" onchange="this.querySelector('button[type=submit]').style.display = 'block';">
                <div>
                  <label for="areaName" class="form-label">Khu vực</label>
                  <input
                    type="text"
                    class="form-control"
                    id="areaName"
                    name="areaName"
                    value="<%= area.name %>"
                    required
                  />
                </div>
                <div class="my-3">
                  <label for="accountID" class="form-label"
                    >Nướng hàm lượng</label
                  >
                  <select
                    class="form-control slim-select"
                    id="accountID"
                    name="accountID"
                    onchange="this.closest('form').querySelector('button[type=submit]').style.display = this.value ? 'block' : 'none';"
                  >
                    <% if (!area.accountID) { %>
                      <option disabled selected>Chọn tài khoản</option>
                    <% } %>
                    <% hamLuongAccounts.forEach(account => { %>
                      <option value="<%= account._id %>" <%= account._id.equals(area.accountID) ? 'selected' : '' %>>
                        <%= account.username %>
                      </option>
                    <% }) %>
                  </select>
                </div>
                <div class="my-3">
                  <label for="address" class="form-label fw-bold">Địa chỉ</label>
                  <input
                    type="text"
                    class="form-control"
                    id="address"
                    name="address"
                    required
                    maxlength="150"
                    value="<%= area.address %>"
                  />
                </div>
                <div class="my-3">
                  <label class="form-label fw-bold">Thời hạn hợp đồng</label>
                  <div class="row">
                    <div class="col-6">
                      <label for="contractStart" class="form-label"
                        >Ngày bắt đầu</label
                      >
                      <input
                        type="date"
                        class="form-control"
                        id="contractStart"
                        name="contractDuration[start]"
                        value="<%= area.contractDuration.start.toISOString().split('T')[0] %>"
                      />
                    </div>
                    <div class="col-6">
                      <label for="contractEnd" class="form-label"
                        >Ngày kết thúc</label
                      >
                      <input
                        type="date"
                        class="form-control"
                        id="contractEnd"
                        name="contractDuration[end]"
                        value="<%= area.contractDuration.end.toISOString().split('T')[0] %>"
                      />
                    </div>
                  </div>
                  <small class="text-muted"
                    >Để trống nếu không có ngày hợp đồng</small
                  >
                </div>
                <div class="my-3">
                  <label for="areaDimension" class="form-label fw-bold"
                    >Diện tích khu vực (mẫu)</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    id="areaDimension"
                    name="areaDimension"
                    required
                    step="0.1"
                    min="0"
                    value="<%= area.areaDimension %>"
                  />
                  <small class="text-muted">Chỉ áp dụng cho khu vực hợp đồng</small>
                </div>
                <div class="my-3">
                  <label for="areaPrice" class="form-label fw-bold"
                    >Giá khu vực</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    id="areaPrice"
                    name="areaPrice"
                    step="1"
                    min="0"
                    value="<%= area.areaPrice.toLocaleString('vi-VN') %>"
                    oninput="handleQuantityInput(this)"
                  />
                  <small class="text-muted"
                    >Để trống nếu không khu vực không mua bán</small
                  >
                </div>
                <button type="submit" class="btn btn-primary" style="display: none;">Lưu</button>
              </form>

              <!-- Suppliers -->
                <h5 class="my-2">Nhà vườn</h5>
                <ol class="list-group list-group-numbered my-2">
                  <% area.suppliers.forEach((supplier, index) =>{ %>
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center"
                  >
                    <div class="ms-2 me-auto">
                      <div class="fw-bold"><%= supplier.name %></div>
                      <%= supplier.code %>
                    </div>
                    <div class="d-flex">
                    <span class="mx-2">
                      <i class="ri-edit-box-line fs-5" data-bs-toggle="modal"
                      data-bs-target="#editSupplier<%= supplier._id %>" style="cursor: pointer;"></i>
                    </span>
                    <span class="mx-2">
                      <i class="ri-delete-bin-line fs-5" data-bs-toggle="modal"
                      data-bs-target="#deleteSupplier<%= supplier._id %>" style="cursor: pointer;"></i>
                    </span>
                  </div>
                  </li>

                  <!-- Edit supplier modal -->
                  <form action="/du-lieu-hang-ngay/updateSupplier/<%= supplier._id %>" method="post">
                    <div
                      class="modal fade"
                      id="editSupplier<%= supplier._id %>"
                      aria-hidden="true"
                      aria-labelledby="staticBackdropLabel"
                      tabindex="-1"
                    >
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">
                              Chỉnh sửa nhà vườn
                            </h1>
                            <button
                              type="button"
                              class="btn-close"
                              data-bs-dismiss="modal"
                              aria-label="Close"
                            ></button>
                          </div>
                          <form
                            action="/quan-ly-nha-vuon/edit/<%= supplier._id %>"
                            method="post"
                          >
                            <div class="modal-body
                            ">
                            <div class="row">
                              <div class="col col-md-6">
                                <label for="name" class="form-label fw-bold"
                                  >Tên</label
                                >
                                <input
                                  type="text"
                                  class="form-control"
                                  id="name"
                                  name="name"
                                  maxlength="30"
                                  value="<%= supplier.name %>"
                                  required
                                />
                              </div>
                              <div class="col col-md-6">
                                <label for="code" class="form-label fw-bold">Mã</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  id="code"
                                  name="code"
                                  maxlength="20"
                                  value="<%= supplier.code %>"
                                  required
                                />
                              </div>
                            </div>
                            <div class="mt-3">
                              <label for="phone" class="form-label fw-bold"
                                >Số điện thoại</label
                              >
                              <input
                                type="text"
                                class="form-control"
                                id="phone"
                                name="phone"
                                maxlength="10"
                                oninput="this.value = this.value.replace(/\D/g, '');"
                                value="<%= supplier.phone %>"
                                required
                                />
                            </div>
                            <div class="row">
                              <div class="col-7 mt-3">
                                <label for="identification" class="form-label fw-bold"
                                  >Căn cước công dân</label
                                >
                                <input
                                  type="text"
                                  class="form-control"
                                  id="identification"
                                  name="identification"
                                  maxlength="12"
                                  value="<%= supplier.identification %>"
                                  required
                                />
                              </div>
                              <div class="col-5 mt-3">
                                <label for="issueDate" class="form-label fw-bold"
                                  >Ngày cấp</label
                                >
                                <input
                                  type="text"
                                  class="form-control"
                                  id="issueDate"
                                  name="issueDate"
                                  oninput="this.value = this.value.replace(/\D/g, '').replace(/(\d{2})(?=\d)/g, '$1/');"
                                  maxlength="8"
                                  value="<%= supplier.issueDate %>"
                                  required
                                />
                              </div>
                            </div>
                            <div class="mt-3">
                              <label  class="form-label fw-bold"
                                >Địa chỉ</label
                              >
                              <input
                                type="text"
                                class="form-control"
                                name="address"
                                value="<%= supplier.address %>"
                                maxlength="70"
                              />
                            </div>
                            <div class="mt-3">
                              <label for="ratioMuNuocSplit" class="form-label fw-bold">Ăn chia quy khô</label>
                              <input
                                type="text"
                                class="form-control"
                                id="ratioMuNuocSplit"
                                name="ratioMuNuocSplit"
                                value="<%= supplier.ratioRubberSplit.toLocaleString('vi-VN') %>"
                                oninput="handlePercentageInput(this)"
                              />
                            </div>
                            <div class="mt-3">
                              <label for="ratioSplit" class="form-label fw-bold"
                                >Ăn chia</label
                              >
                              <input
                                type="text"
                                class="form-control"
                                id="ratioSplit"
                                name="ratioSplit"
                                value="<%= supplier.ratioSumSplit.toLocaleString('vi-VN') %>"
                                min="1"
                              />
                            </div>
                            </div>
                            <div class="modal-footer
                            ">
                              <button type="submit" class="btn btn-primary
                              ">Lưu mới</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </form>

                  <!-- Delete supplier modal -->
                  <form action="/du-lieu-hang-ngay/deleteSupplier/<%= supplier._id %>" method="post">

                    <div
                      class="modal fade"
                      id="deleteSupplier<%= supplier._id %>"
                      aria-hidden="true"
                      aria-labelledby="title"
                      tabindex="-1"
                    >
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="title">
                              Xóa nhà vườn
                            </h1>
                            <button
                              type="button"
                              class="btn-close"
                              data-bs-dismiss="modal"
                              aria-label="Close"
                            ></button>
                          </div>
                          <form
                            action="/quan-ly-nha-vuon/delete/<%= supplier._id %>"
                            method="post"
                          >
                            <div class="modal-body
                            ">
                              Bạn có muốn xóa nhà vườn
                              <strong><%= supplier.name %></strong> ? Hành động này
                              không thể hoàn tác.
                            </div>
                            <div class="modal-footer
                            ">
                              <button type="submit" class="btn btn-danger
                              ">Xác nhận</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </form>

                  <% }) %>
                </ol>
                <form action="/du-lieu-hang-ngay/addSupplier/<%= area._id %>" method="post" id="dynamicForm" onchange="this.querySelector('button[type=submit]').style.display = 'block';">
                  <div class="additionalField"></div>
                  <button type="submit" class="btn btn-primary" style="display: none;">Lưu</button>
                </form>
              <i class="ri-add-circle-line fs-5" onclick="addFields('.additionalField')" style="cursor: pointer;"></i>
            </div>
            <!-- Setting -->
            <div
            id="setting"
            class="collapse"
            aria-labelledby="suppliersHeading"
            data-bs-parent="#areaAccordion"
            >
              <h4>Cài đặt</h4>
              <form action="/du-lieu-hang-ngay/update/<%= area._id %>" method="post" onchange="this.querySelector('button[type=submit]').style.display = 'block';">
                <div class="mb-3">
                  <label for="limitData" class="form-label">Giới hạn dữ liệu/ngày</label>
                  <input
                    type="number"
                    class="form-control"
                    id="limitData"
                    name="limitData"
                    required
                    value="<%= area.limitData ?  area.limitData : '' %>"
                  />
                </div>
                <button type="submit" class="btn btn-primary
                ">Lưu</button>
              </form>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>


<script>
   const columns = [
   { data: 'no', visible: false, orderable: false },
    { data: 'date', visible: false },
    { data: 'supplier', orderable: false },
    { data: 'code', orderable: false },
    { data: 'muNuocQuantity', orderable: false },
    { data: 'muNuocPercentage', orderable: false },
    { data: 'muNuocQuantityToTal', orderable: false },
    { data: 'muTapQuantity', orderable: false },
    { data: 'muKeQuantity', orderable: false },
    { data: 'muDongQuantity', orderable: false },
    { data: 'note', orderable: false, width: '2rem'  },
    { data: 'id', orderable: false },
  ];

  initializeDataTable(
    '#table',
    `/du-lieu-hang-ngay/getAreaSupplierData/<%= area.slug %>`,
    '#staticBackdrop',
    '#deleteModalToggle',
    columns,
    'date',
    '#filterButton',
    '#startDate',
    '#endDate',
    '#clearFilterButton',
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    true,
  );
  function addFields(container) {
      const additionalContainer = document.querySelector(container);
      const newFields = document.createElement('div');
      newFields.className = 'supplierInfor my-3';
      newFields.innerHTML = `
            <div class="supplier">
              <div class="row mt-3">
                <div class="row m-0 p-0">
                  <div class="col">
                    <label
                      for="name"
                      class="form-label fw-bold w-100 d-flex justify-content-between"
                    >
                      1. Nhà vườn
                      <span>
                        <i
                          class="ri-close-line"
                          style="cursor: pointer"
                          onclick="removeProduct(this, '.supplier')"
                        ></i>
                      </span>
                    </label>
                  </div>
                </div>
                <div class="row normalFields m-0 p-0">
                  <div class="col col-md-6">
                    <label for="supplierName" class="form-label fw-bold"
                      >Tên</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="supplierName"
                      name="supplierName"
                      maxlength="30"
                      required
                    />
                  </div>
                  <div class="col col-md-6">
                    <label for="code" class="form-label fw-bold">Mã</label>
                    <input
                      type="text"
                      class="form-control"
                      id="code"
                      name="code"
                      maxlength="20"
                      required
                    />
                  </div>
                </div>
                <div class="mt-3">
                  <label for="phone" class="form-label fw-bold"
                    >Số điện thoại</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="phone"
                    name="phone"
                    maxlength="10"
                    oninput="this.value = this.value.replace(/\\D/g, '');"
                    required
                    />
                </div>
                <div class="row">
                  <div class="col-7 mt-3">
                    <label for="identification" class="form-label fw-bold"
                      >Căn cước công dân</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="identification"
                      name="identification"
                      maxlength="12"
                      required
                    />
                  </div>
                  <div class="col-5 mt-3">
                    <label for="issueDate" class="form-label fw-bold"
                      >Ngày cấp</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="issueDate"
                      name="issueDate"
                      oninput="this.value = this.value.replace(/\\D/g, '').replace(/(\\d{2})(?=\\d)/g, '$1/');"
                      maxlength="8"
                      required
                    />
                  </div>
                </div>
                <div class="mt-3">
                  <label for="address" class="form-label fw-bold">Địa chỉ</label>
                  <input
                    type="text"
                    class="form-control"
                    id="address"
                    name="address"
                    maxlength="70"
                    required
                  />
                </div>
                <div class="mt-3">
                  <label for="ratioMuNuocSplit" class="form-label fw-bold">Ăn chia quy khô</label>
                  <input
                    type="text"
                    class="form-control"
                    id="ratioMuNuocSplit"
                    name="ratioMuNuocSplit"
                    oninput="handlePercentageInput(this)"
                  />
                </div>
                <div class="mt-3">
                  <label for="ratioSplit" class="form-label fw-bold">Ăn chia</label>
                  <input
                    type="number"
                    class="form-control"
                    id="ratioSplit"
                    name="ratioSplit"
                    min="0"
                    required
                    oninput="handlePercentageInput(this)"
                  />
                </div>
                <div
                  class="additionalFields my-3 m-0 p-0"
                  style="display: none"
                ></div>
              </div>
            </div>
      `;
    
      additionalContainer.appendChild(newFields);
    }

    function checkAdditionalFields() {
    const suppliers = document.querySelectorAll('.additionalField .supplier');
    const submitButton = document.querySelector('#dynamicForm button[type="submit"]');
    if (suppliers.length === 0) {
      submitButton.style.display = 'none';
    } else {
      submitButton.style.display = 'block';
    }
  }

</script>
