<head>
  <!-- js -->
  <script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.colVis.min.js"></script>

  <script src="https://cdn.datatables.net/buttons/3.0.2/js/dataTables.buttons.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.html5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
  <script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.print.min.js"></script>
  <script src="/js/exportDatatable.js"></script>
  <script src="/js/debounce.js" defer></script>
  <script src="/js/filterSuppliers.js" defer></script>
  <script src="/js/inputFieldRestriction.js" defer></script>

  <!-- Slim select -->
  <script src="/js/slim-select.js" defer></script>

  <!-- Tippy.js -->
  <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/dist/tippy.css" />
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="https://unpkg.com/tippy.js@6"></script>

  <style>
    .dt-button-active {
      background-color: #4CAF50 !important;
      color: aliceblue !important;
    }
  </style>
</head>

<!-- breadcrumb -->
<nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>'" class="mx-2 mx-md-4">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/du-lieu-hang-ngay">Dự liệu hằng ngày</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <a href="/du-lieu-hang-ngay/<%= area.slug %>"><%= area.name %></a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Xuất file</li>
  </ol>
</nav>

<div class="row m-0 m-md-2 g-3 mb-4">
  <div class="col-12 col-md-9 mt-2">
    <div class="card" style="box-shadow: 0 1px 2px">
      <div class="card-header bg-transparent">
        <form action="/du-lieu-hang-ngay/<%= area.slug %>/updatePrice?_method=PUT" method="post" class="mb-3">
          <div class="row">
            <div class="col-12 col-md-6">
              <h5 class="p-0">Chọn ngày và nhập số tiền</h5>
              <%- include('../partials/dateSelection.ejs') %>
            </div>
          </div>
          <div class="row">
            <div class="col"><%- include('../partials/setPrice.ejs') %></div>
          </div>
        </form>
        <div class="row">
          <div class="col-4">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exportAllModal">
              In tất cả
            </button>
          </div>
        </div>
        <%- include('../partials/displayAccessDate.ejs') %>
      </div>
      <div class="card-body">
        <table class="table table-striped order-column" id="table">
          <thead>
            <% if(area.areaDimension > 0 && area.areaPrice > 0) {%>
            <tr>
              <th rowspan="2">STT</th>
              <th rowspan="2">Nhà vườn</th>
              <th rowspan="2">Mã</th>
              <th rowspan="2">Mẫu</th>
              <th rowspan="2">Giá</th>
              <th rowspan="2">Thành tiền</th>
              <th rowspan="2">Cọc</th>
              <th rowspan="2">Tiền đã thu</th>
              <th rowspan="2">Còn nợ</th>
              <th rowspan="2">Tiền giữ lại</th>
              <th colspan="5">Mủ quy khô</th>
              <th colspan="5">Mủ tạp</th>
              <th colspan="5">Mủ ké</th>
              <th colspan="5">Mủ đông</th>
              <th rowspan="2">Thực nhận</th>
              <th rowspan="2">Ghi chú</th>
              <th rowspan="2">Ký nhận</th>
            </tr>
            <tr>
              <th>SL</th>
              <th>Tỷ lệ(avg%)</th>
              <th>SL sau</th>
              <th>Đơn giá</th>
              <th>Tổng</th>
              <th>SL</th>
              <th>Tỷ lệ(avg%)</th>
              <th>SL sau</th>
              <th>Đơn giá</th>
              <th>Tổng</th>
              <th>SL</th>
              <th>Tỷ lệ(avg%)</th>
              <th>SL sau</th>
              <th>Đơn giá</th>
              <th>Tổng</th>
              <th>SL</th>
              <th>Tỷ lệ(avg%)</th>
              <th>SL sau</th>
              <th>Đơn giá</th>
              <th>Tổng</th>
            </tr>

            <% } else { %>
            <tr>
              <th>STT</th>
              <th>Nhà vườn</th>
              <th>Mã</th>
              <th>Mủ quy khô</th>
              <th>Mủ tạp</th>
              <th>Mủ ké</th>
              <th>Mủ đông</th>
              <th>Thực nhận</th>
              <th>Ký nhận</th>
            </tr>
            <% } %>
          </thead>

          <tbody>
            <% area.data.forEach((item, index) => { %>
            <!-- Modal for updating -->
            <div class="modal fade" id="staticBackdrop<%= item.supplier.supplierSlug %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5">
                      Cập nhật dữ liệu <%= item.supplier.name %>
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>

                  <form action="/nhap-du-lieu/nguyen-lieu/updateData/<%= item._id %>" method="post">
                    <div class="modal-body">
                      <%- include('../partials/notificationMessage.ejs') %>
                      <div class="itemLists my-3">
                        <% item.rawMaterial.forEach((raw, rawIndex) => { %> <%
                        if (raw.name === 'Mủ nước') { %>
                        <div class="itemList">
                          <div class="row my-3">
                            <label class="form-label fw-bold">Mủ nước</label>
                            <div class="col col-md-6">
                              <label for="muNuocQuantity<%= index %>" class="form-label">Số lượng</label>
                              <input type="text" class="form-control" id="muNuocQuantity<%= index %>" name="muNuocQuantity" value="<%= raw.quantity %>" required oninput="handleQuantityInput(this)" inputmode="numeric" />
                            </div>
                            <div class="col col-md-6">
                              <label for="muNuocPercentage<%= index %>" class="form-label">Hàm lượng</label>
                              <input type="text" class="form-control" id="muNuocPercentage<%= index %>" name="muNuocPercentage" value="<%= raw.percentage %>" required oninput="handlePercentageInput(this)" inputmode="numeric" />
                            </div>
                          </div>
                          <div class="row my-3">
                            <div class="col">
                              <label for="price<%= index %>" class="form-label">Đơn giá</label>
                              <input type="text" class="form-control" id="price<%= index %>" name="muNuocPrice" value="<%= raw.price?  raw.price.toLocaleString('vi-VN'): '' %>" oninput="handleQuantityInput(this)" inputmode="numeric" />
                            </div>
                          </div>
                        </div>
                        <% } else if (raw.name === 'Mủ tạp') { %>
                        <div class="itemList">
                          <div class="row my-3">
                            <label class="form-label fw-bold">Mủ tạp</label>
                            <div class="col col-md-6">
                              <label for="muTapQuantity<%= index %>" class="form-label">Số lượng</label>
                              <input type="text" class="form-control" id="muTapQuantity<%= index %>" name="muTapQuantity" value="<%= raw.quantity %>" required oninput="handleQuantityInput(this)" inputmode="numeric" />
                            </div>
                            <div class="col col-md-6">
                              <label for="price<%= index %>" class="form-label">Đơn giá</label>
                              <input type="text" class="form-control" id="price<%= index %>" name="muTapPrice" value="<%= raw.price?  raw.price.toLocaleString('vi-VN'): '' %>" oninput="handleQuantityInput(this)" inputmode="numeric" />
                            </div>
                          </div>
                        </div>
                        <% } else if (raw.name === 'Mủ ké') { %>
                        <div class="itemList">
                          <div class="row my-3">
                            <label class="form-label fw-bold">Mủ Ké</label>
                            <div class="col col-md-6">
                              <label for="muKeQuantity<%= index %>" class="form-label">Số lượng
                              </label>
                              <input type="text" class="form-control" id="muKeQuantity<%= index %>" name="muKeQuantity" value="<%= raw.quantity %>" required oninput="handleQuantityInput(this)" inputmode="numeric" />
                            </div>
                            <div class="col col-md-6">
                              <label for="muKePrice<%= index %>" class="form-label">Đơn giá</label>
                              <input type="text" class="form-control" id="muKePrice<%= index %>" name="muKePrice" value="<%= raw.price ? raw.price.toLocaleString('vi-VN') : '' %>" oninput="handleQuantityInput(this)" inputmode="numeric" />
                            </div>
                          </div>
                        </div>
                        <% } else if (raw.name === 'Mủ đông') { %>
                        <div class="itemList">
                          <div class="row my-3">
                            <label class="form-label fw-bold">Mủ Đông</label>
                            <div class="col col-md-6">
                              <label for="muDongQuantity<%= index %>" class="form-label">Số lượng</label>
                              <input type="text" class="form-control" id="muDongQuantity<%= index %>" name="muDongQuantity" value="<%= raw.quantity %>" required oninput="handleQuantityInput(this)" inputmode="numeric" />
                            </div>
                            <div class="col col-md-6">
                              <label for="muDongPrice<%= index %>" class="form-label">Đơn giá</label>
                              <input type="text" class="form-control" id="muDongPrice<%= index %>" name="muDongPrice" value="<%= raw.price ? raw.price.toLocaleString('vi-VN') : '' %>" oninput="handleQuantityInput(this)" inputmode="numeric" />
                            </div>
                          </div>
                        </div>
                        <% } %> <% }) %>
                      </div>
                      <div class="my-3">
                        <label for="note<%= index %>" class="form-label fw-bold">Ghi chú</label>
                        <textarea class="form-control" id="note<%= index %>" name="note" rows="3">
<%= item.note %></textarea>
                      </div>
                    </div>
                    <div class="modal-footer bg-transparent">
                      <!-- Buttons -->
                      <button type="submit" onclick="handleFormSubmit(this)" class=" btn btn-primary">Lưu</button>
                      <button type="reset" class="btn text-dark">
                        Làm mới
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- Delete confirming modal  -->
            <div class="modal fade" id="deleteModalToggle<%= item._id %>" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel">
                      Xóa thông tin ngày <%=
                      item.date.toLocaleDateString("vi-VN") %> của <%=
                      item.supplier.name %>
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <form action="/nhap-du-lieu/nguyen-lieu/deleteData/<%= item._id %>" method="post">
                    <div class="modal-body">
                      Bạn có muốn xóa thông tin của
                      <strong><%= item.supplier.name %></strong>
                      ? Hành động này không thể hoàn tác.
                    </div>
                    <div class="modal-footer">
                      <% if(user.role === 'Admin' || user.role === 'Văn phòng'){
                      %>
                      <button type="submit" onclick="handleFormSubmit(this)" class=" btn btn-danger">
                        Xác nhận
                      </button>
                      <% } else { %>
                      <div class="tooltip-wrapper" data-tippy-content="Bạn không có quyền thao tác" tabindex="0">
                        <button type="button" class="btn btn-danger" disabled>
                          Xác nhận
                        </button>
                      </div>
                      <% } %>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <% }) %>
          </tbody>
          <tfoot>
            <% if(area.areaDimension > 0 && area.areaPrice > 0) {%>
            <tr>
              <th colspan="3">Tổng</th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th colspan="3"></th>
            </tr>
            <% } else { %>
            <tr>
              <th colspan="3">Tổng</th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
            <% } %>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3 mt-2 d-none d-md-block">
    <div class="card" style="box-shadow: 0 1px 2px">
      <div class="card-header bg-transparent">
        <h4 class="m-0">Nhà vườn</h4>
      </div>

      <div class="card-body">
        <!-- Search for a supplier  -->
        <input type="text" class="form-control mb-3" id="supplierSearch" placeholder="Tìm kiếm nhà vườn" oninput="debounce(() => filterSuppliers('supplierSearch', 'supplierList', 'li' ,'supplier-name'), 200)()" />
        <%- include('../partials/notificationMessage.ejs') %>
        <ol class="list-group list-group-numbered my-2" id="supplierList">
          <% area.suppliers.sort((a, b) =>
          a.name.localeCompare(b.name)).forEach((supplier, index) => { %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="supplier-name ms-2 me-auto">
              <div class="fw-bold"><%= supplier.name %></div>
              <%= supplier.code %>
            </div>
            <div class="d-flex">
              <span class="mx-2">
                <a href="/du-lieu-hang-ngay/<%= area.slug %>/xuat-file/<%= supplier.supplierSlug %>?startDate=<%= startDate %>&endDate=<%= endDate %>" style="text-decoration: none; color: black">
                  <i class="ri-edit-box-line fs-5" data-bs-toggle="modal" data-bs-target="#editSupplier<%= supplier._id %>" style="cursor: pointer"></i>
                </a>
              </span>
              <span class="mx-2"> </span>
            </div>
          </li>

          <% }) %>
        </ol>
      </div>
    </div>
  </div>
</div>

<!-- Export All Modal -->
<div class="modal fade" id="exportAllModal" tabindex="-1" aria-labelledby="exportAllModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exportAllModalLabel">In tất cả</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Printing options -->
        <div class="container mb-3">
          <div class="form-group">
            <label for="printOption">Chọn hình thức in:</label>
            <div>
              <input type="radio" id="continuous" name="printOption" value="continuous" checked>
              <label for="continuous">Liên tục</label>
            </div>
            <div>
              <input type="radio" id="progress" name="printOption" value="progress">
              <label for="progress">Từng phần</label>
            </div>
          </div>
        </div>
        <!-- Carousel -->
        <div id="exportCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <% area.suppliers.forEach( (supplier, index) => { %>
            <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
              <table class="table table-striped" id="multiTable<%= index %>" data-supplier-slug="<%= supplier.supplierSlug %>" data-supplier-name="<%= supplier.name %>" data-ratio-sum-split="<%= supplier.ratioSumSplit %>" data-ratio-rubber-split="<%= supplier.ratioRubberSplit %>" data-remaining-debt="<%= supplier.remainingDebt %>" data-total-money-retained-amount="<%= supplier.totalMoneyRetainedAmount %>">
                <thead>
                  <% if (area.areaDimension > 0 && area.areaPrice > 0) { %>
                  <tr>
                    <th rowspan="2">STT</th>
                    <th rowspan="2">Ngày</th>
                    <th colspan="7">Mủ nước</th>
                    <th colspan="5">Mủ tạp</th>
                    <th colspan="5">Mủ ké</th>
                    <th colspan="5">Mủ đông</th>
                    <th rowspan="2">Tổng tiền</th>
                    <th rowspan="2">Khác</th>
                  </tr>
                  <tr>
                    <th>SL</th>
                    <th>HL%</th>
                    <th>Quy khô trc</th>
                    <th>TL(%)</th>
                    <th>Quy khô sau</th>
                    <th>Đơn giá</th>
                    <th>Thành tiền</th>
                    <th>SL</th>
                    <th>TL(%)</th>
                    <th>SL sau</th>
                    <th>Đơn giá</th>
                    <th>Thành tiền</th>
                    <th>SL</th>
                    <th>TL(%)</th>
                    <th>SL sau</th>
                    <th>Đơn giá</th>
                    <th>Thành tiền</th>
                    <th>SL</th>
                    <th>TL(%)</th>
                    <th>SL sau</th>
                    <th>Đơn giá</th>
                    <th>Thành tiền</th>
                  </tr>
                  <% } else { %>
                  <tr>
                    <th rowspan="2">STT</th>
                    <th rowspan="2">Ngày</th>
                    <th colspan="4">Mủ nước</th>
                    <th colspan="2">Mủ tạp</th>
                    <th colspan="2">Mủ ké</th>
                    <th colspan="2">Mủ đông</th>
                    <th rowspan="2">Khác</th>
                  </tr>
                  <tr>
                    <th>SL</th>
                    <th>HL%</th>
                    <th>Quy khô</th>
                    <th>Đơn giá</th>
                    <th>SL</th>
                    <th>Đơn giá</th>
                    <th>SL</th>
                    <th>Đơn giá</th>
                    <th>SL</th>
                    <th>Đơn giá</th>
                  </tr>
                  <% } %>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                  <% if (area.areaDimension > 0 && area.areaPrice > 0) { %>
                  <tr>
                    <th colspan="2">Tổng</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                  <% } else { %>
                  <tr>
                    <th colspan="2">Tổng</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                  <tr>
                    <th colspan="2">Đơn giá</th>
                    <th colspan="4"></th>
                    <th colspan="2"></th>
                    <th colspan="2"></th>
                    <th colspan="2"></th>
                    <th></th>
                  </tr>
                  <tr>
                    <th colspan="2">Thành tiền</th>
                    <th colspan="4"></th>
                    <th colspan="2"></th>
                    <th colspan="2"></th>
                    <th colspan="2"></th>
                    <th></th>
                  </tr>
                  <% } %>
                </tfoot>
              </table>
            </div>
            <% }); %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#exportCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
            <span class="visually-hidden">Trước</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#exportCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
            <span class="visually-hidden">Sau</span>
          </button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="exportAllButton">
          In
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Confirmation Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmModalLabel">Tiếp tục in?</h5>
      </div>
      <div class="modal-body">
        <p>Bạn có muốn tiếp tục in bảng tiếp theo không?</p>
        <p id="progressText">Tài liệu 0 / 0</p>
        <div class="progress mt-2" style="width: 100%;" id="progressContainer">
          <div class="progress-bar" role="progressbar" id="progressBar" style="width: 0%; height: 100%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="confirmNoButton" data-bs-dismiss="modal">Không</button>
        <button type="button" class="btn btn-primary" id="confirmYesButton">Có</button>
      </div>
    </div>
  </div>
</div>

<script>
  let areaDimension = "<%= area.areaDimension %>";
  let areaPrice = "<%= area.areaPrice %>";

  const columns =
    parseFloat(areaDimension) > 0 && parseFloat(areaPrice) > 0 ? [{
        data: "no",
        orderable: false
      },
      {
        data: "supplier"
      },
      {
        data: "code",
        orderable: false
      },
      {
        data: "areaPurchased",
        orderable: false
      },
      {
        data: "areaPrice",
        orderable: false
      },
      {
        data: "areaTotal",
        orderable: false
      },
      {
        data: "areaDeposit",
        orderable: false
      },
      {
        data: "debtPaidAmount",
        orderable: false
      },
      {
        data: "remainingDebt",
        orderable: false
      },
      {
        data: "retainedAmount",
        orderable: false
      },
      {
        data: "muQuyKhoQuantity",
        orderable: false
      },
      {
        data: "muQuyKhoSplit",
        orderable: false
      },
      {
        data: "muQuyKhoQuantityAfterSplit",
        orderable: false
      },
      {
        data: "muQuyKhoDonGia",
        orderable: false
      },
      {
        data: "muQuyKhoTotal",
        orderable: false
      },
      {
        data: "muTapQuantity",
        orderable: false
      },
      {
        data: "muTapSplit",
        orderable: false
      },
      {
        data: "muTapAfterSplit",
        orderable: false
      },
      {
        data: "muTapDonGia",
        orderable: false
      },
      {
        data: "muTapTotal",
        orderable: false
      },
      {
        data: "muKeQuantity",
        orderable: false
      },
      {
        data: "muKeSplit",
        orderable: false
      },
      {
        data: "muKeAfterSplit",
        orderable: false
      },
      {
        data: "muKeDonGia",
        orderable: false
      },
      {
        data: "muKeTotal",
        orderable: false
      },
      {
        data: "muDongQuantity",
        orderable: false
      },
      {
        data: "muDongSplit",
        orderable: false
      },
      {
        data: "muDongAfterSplit",
        orderable: false
      },
      {
        data: "muDongDonGia",
        orderable: false
      },
      {
        data: "muDongTotal",
        orderable: false
      },
      {
        data: "totalSum",
        orderable: false
      },
      {
        data: "note",
        orderable: false
      },
      {
        data: "signature",
        orderable: false
      },
    ] : [{
        data: "no",
        orderable: false
      },
      {
        data: "supplier"
      },
      {
        data: "code",
        orderable: false
      },
      {
        data: "muQuyKhoQuantity",
        orderable: false
      },
      {
        data: "muTapQuantity",
        orderable: false
      },
      {
        data: "muKeQuantity",
        orderable: false
      },
      {
        data: "muDongQuantity",
        orderable: false
      },
      {
        data: "totalSum",
        orderable: false
      },
      {
        data: "signature",
        orderable: false
      },
    ];

  initializeExportDataTable(
    "#table",
    `/du-lieu-hang-ngay/<%= area.slug %>/xuat-file`,
    "#staticBackdrop",
    "#deleteModalToggle",
    columns,
    null,
    "#filterButton",
    "#startDate",
    "#endDate",
    "#clearFilterButton",
    true,
    true,
    false,
    false,
    false,
    "<%= area.name %>",
    false,
    false,
    false, {
      areaDimension: "<%= area.areaDimension %>",
      areaPrice: "<%= area.areaPrice %>",
    }
  );


  const columnsIndividual = parseFloat(areaDimension) === 0 && parseFloat(areaPrice) === 0 ? [{
      data: 'no',
      orderable: false
    },
    {
      data: 'date'
    },
    {
      data: 'muNuocQuantity',
      orderable: false
    },
    {
      data: 'muHamLuong',
      orderable: false
    },
    {
      data: 'muQuyKhoTotal',
      orderable: false
    },
    {
      data: 'muQuyKhoPrice',
      orderable: false
    },
    {
      data: 'muTapQuantity',
      orderable: false
    },
    {
      data: 'muTapPrice',
      orderable: false
    },
    {
      data: 'muKeQuantity',
      orderable: false
    },
    {
      data: 'muKePrice',
      orderable: false
    },
    {
      data: 'muDongQuantity',
      orderable: false
    },
    {
      data: 'muDongPrice',
      orderable: false
    },
    {
      data: 'note',
      orderable: false
    },

  ] : [{
      data: 'no',
      orderable: false
    },
    {
      data: 'date'
    },
    {
      data: 'muNuocQuantity',
      orderable: false
    },
    {
      data: 'muHamLuong',
      orderable: false
    },
    {
      data: 'muQuyKhoTotal',
      orderable: false
    },
    {
      data: 'muNuocRatioSplit',
      orderable: false
    },
    {
      data: 'muQuyKhoTotalAfterSplit',
      orderable: false
    },
    {
      data: 'muQuyKhoPrice',
      orderable: false
    },
    {
      data: 'muQuyKhoTotalPrice',
      orderable: false
    },
    {
      data: 'muTapQuantity',
      orderable: false
    },
    {
      data: 'muTapRatioSplit',
      orderable: false
    },
    {
      data: 'muTapTotalAfterSplit',
      orderable: false
    },
    {
      data: 'muTapPrice',
      orderable: false
    },
    {
      data: 'muTapTotalPrice',
      orderable: false
    },
    {
      data: 'muKeQuantity',
      orderable: false
    },
    {
      data: 'muKeRatioSplit',
      orderable: false
    },
    {
      data: 'muKeTotalAfterSplit',
      orderable: false
    },
    {
      data: 'muKePrice',
      orderable: false
    },
    {
      data: 'muKeTotalPrice',
      orderable: false
    },
    {
      data: 'muDongQuantity',
      orderable: false
    },
    {
      data: 'muDongRatioSplit',
      orderable: false
    },
    {
      data: 'muDongTotalAfterSplit',
      orderable: false
    },
    {
      data: 'muDongPrice',
      orderable: false
    },
    {
      data: 'muDongTotalPrice',
      orderable: false
    },
    {
      data: 'totalPrice',
      orderable: false
    },
    {
      data: 'note',
      orderable: false
    },
  ];

  <% area.suppliers.forEach((supplier,index) => { %>
  initializeExportDataTable(
    '#multiTable<%= index%>',
    `/du-lieu-hang-ngay/<%= area.slug %>/getSupplierExportData/<%= supplier.supplierSlug %>`,
    '#staticBackdrop',
    '#deleteModalToggle',
    columnsIndividual,
    false,
    '#filterButton',
    '#startDate',
    '#endDate',
    '#clearFilterButton',
    true,
    false,
    true,
    null,
    null,
    '<%= supplier.name %>',
    '<%= supplier.ratioSumSplit %>',
    '<%= supplier.ratioRubberSplit %>', {
      debt: '<%= supplier.remainingDebt %>',
      retainedAmount: '<%= supplier.totalMoneyRetainedAmount %>'
    }, {
      areaDimension: '<%= area.areaDimension %>',
      areaPrice: '<%= area.areaPrice %>'
    }
  );
  <% }) %>

  tippy(".tooltip-wrapper");
</script>

<script>
  document.getElementById('exportAllButton').addEventListener('click', () => {
    const tables = document.querySelectorAll('table[id^="multiTable"]');
    const printOption = document.querySelector('input[name="printOption"]:checked').value;
    let currentIndex = 0, stopPrinting = false;

    const progressBar = document.getElementById('progressBar'),
          progressContainer = document.getElementById('progressContainer'),
          progressText = document.getElementById('progressText'),
          confirmModal = new bootstrap.Modal(document.getElementById('confirmModal')),
          exportAllModal = bootstrap.Modal.getInstance(document.getElementById('exportAllModal')),
          confirmYesButton = document.getElementById('confirmYesButton'),
          confirmNoButton = document.getElementById('confirmNoButton');

    const updateProgress = () => {
      const progress = ((currentIndex + 1) / tables.length) * 100;
      progressBar.style.width = `${progress}%`;
      progressBar.setAttribute('aria-valuenow', progress);
      progressText.textContent = `Tài liệu ${currentIndex + 1} / ${tables.length}`;
    };

    const printNextTable = () => {
      if (currentIndex > tables.length || stopPrinting) {
        progressContainer.style.display = 'none';
        return;
      }

      const tableId = `#${tables[currentIndex].id}`;
      $(tableId).DataTable().button('.buttons-print').trigger();

      setTimeout(() => {
        if (printOption === 'progress' && currentIndex < tables.length - 1) {
          confirmModal.show();
        } else {
          currentIndex++;
          updateProgress();
          printNextTable();
        }
      }, 500);
    };

    confirmYesButton.addEventListener('click', () => {
      confirmModal.hide();
      currentIndex++;
      updateProgress();
      printNextTable();
    });

    confirmNoButton.addEventListener('click', () => {
      stopPrinting = true;
      progressContainer.style.display = 'none';
    });

    exportAllModal.hide();
    progressContainer.style.display = 'block';
    updateProgress();
    printNextTable();
  });
</script>