<head>
  <!-- js -->
  <script src="/js/datatable.js"></script>
  <script src="/js/multipleFieldsWithText.js"></script>
  <script src="/js/slim-select.js" defer></script>
  <script src="/js/toggleButtons.js" defer></script>
  <style>
    .hide {
      display: none;
    }
    .rotate {
      transform: rotate(180deg);
      transition: transform 0.3s ease-in-out;
    }
  </style>
</head>

<div class="row m-0 m-md-2 g-3 mb-4">
  <div class="col-12 col-md-9 mt-2">
    <div class="card" style="box-shadow: 0 1px 2px">
      <div class="card-body">
        <table class="table table-striped" id="datatable">
          <thead>
            <tr>
              <th>STT</th>
              <th>Khu vực</th>
              <th>Nướng hàm lượng</th>
              <th>Chỉnh sửa</th>
            </tr>
          </thead>

          <tbody>
            <% areas.forEach( (area,index) => { %>

            <!-- Delete confirming modal  -->
            <div
              class="modal fade"
              id="deleteModalToggle<%= area._id %>"
              aria-hidden="true"
              aria-labelledby="exampleModalToggleLabel"
              tabindex="-1"
            >
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel">
                      Xóa hợp đồng <%= area.code %>
                    </h1>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <form
                    action="/du-lieu-hang-ngay/deleteArea/<%= area._id %>"
                    method="post"
                  >
                    <div class="modal-body">
                      Bạn có muốn xóa hợp đồng mã
                      <strong><%= area.code %></strong> ? Hành động này không
                      thể hoàn tác.
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-danger">
                        Xác nhận
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3 mt-2">
    <div class="card" style="box-shadow: 0 1px 2px">
      <div class="card-header bg-transparent">
        <h4 class="m-0">Tạo khu vực</h4>
      </div>
      <form action="/du-lieu-hang-ngay/addArea" method="post">
        <div class="card-body">
          <%- include('../partials/notificationMessage.ejs') %>
          <div>
            <label for="areaName" class="form-label fw-bold">Tên khu vực</label>
            <input
              type="text"
              class="form-control"
              id="areaName"
              name="areaName"
              required
            />
          </div>
          <div class="my-3">
            <label for="accountID" class="form-label fw-bold"
              >Người nướng hàm lượng</label
            >
            <select
              class="form-control slim-select"
              id="accountID"
              name="accountID"
              required
            >
              <option disabled selected>Chọn tài khoản</option>

              <% unassignedHamLuongAccounts.forEach(account => { %>
              <option value="<%= account._id %>">
                <%= account.username %>
              </option>
              <% }) %>
            </select>
          </div>

          <div class="supplierInfor my-3">
            <div class="supplier">
              <div class="row mt-3">
                <div class="row m-0 p-0">
                  <div class="col">
                    <label
                      for="name"
                      class="form-label fw-bold w-100 d-flex justify-content-between"
                    >
                      1. Nhà vườn
                      <span>
                        <i
                          class="ri-close-line"
                          style="cursor: pointer"
                          onclick="removeProduct(this, '.supplier')"
                        ></i>
                      </span>
                    </label>
                  </div>
                </div>
                <div class="row normalFields m-0 p-0">
                  <div class="col col-md-6">
                    <label for="supplierName" class="form-label fw-bold"
                      >Tên</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="supplierName"
                      name="supplierName"
                      maxlength="30"
                      required
                    />
                  </div>
                  <div class="col col-md-6">
                    <label for="code" class="form-label fw-bold">Mã</label>
                    <input
                      type="text"
                      class="form-control"
                      id="code"
                      name="code"
                      maxlength="20"
                      required
                    />
                  </div>
                </div>
                <div class="mt-3">
                  <label for="phone" class="form-label fw-bold"
                    >Số điện thoại</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="phone"
                    name="phone"
                    maxlength="10"
                    oninput="this.value = this.value.replace(/\D/g, '');"
                    required
                    />
                </div>
                <div class="row">
                  <div class="col-7 mt-3">
                    <label for="identification" class="form-label fw-bold"
                      >Căn cước công dân</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="identification"
                      name="identification"
                      maxlength="12"
                      required
                    />
                  </div>
                  <div class="col-5 mt-3">
                    <label for="issueDate" class="form-label fw-bold"
                      >Ngày cấp</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="issueDate"
                      name="issueDate"
                      oninput="this.value = this.value.replace(/\D/g, '').replace(/(\d{2})(?=\d)/g, '$1/');"
                      maxlength="8"
                      required
                    />
                  </div>
                </div>
                <div class="mt-3">
                  <label for="address" class="form-label fw-bold"
                    >Địa chỉ</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="address"
                    name="address"
                    maxlength="70"
                    required
                  />
                </div>
                <div class="mt-3">
                  <label for="ratioSplit" class="form-label fw-bold">Ăn chia</label>
                  <input
                    type="number"
                    class="form-control"
                    id="ratioSplit"
                    name="ratioSplit"
                    min="1"
                    max="100"
                    required
                  />
                </div>
                <div
                  class="additionalFields my-3 m-0 p-0"
                  style="display: none"
                ></div>
              </div>
            </div>
          </div>

          <div class="btnController my-3">
            <button
              type="button"
              onclick="addInputField('.supplierInfor', '.supplier', false, 'Nhà vườn');"
              style="background: transparent; border: none"
              title="Thêm hàng hóa"
            >
              <i class="ri-add-circle-line fs-5"></i>
            </button>
          </div>

        </div>
        <div class="card-footer bg-transparent">
          <!-- Buttons -->
          <button type="submit" class="btn btn-primary">Tạo mới</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const productLists = document.querySelectorAll('.supplierInfor .supplier');
    const displayStyle = productLists.length > 1 ? 'block' : 'none';
    productLists.forEach(
      el => (el.querySelector('.ri-close-line').style.display = displayStyle),
    );
  });

  let columns = [
    { data: 'no', orderable: false, width: '1%' },
    { data: 'area', orderable: false, width: '1%' },
    { data: 'accountID', orderable: false, width: '1%' },
    {
      data: 'link',
      orderable: false,
      width: '1%',
      render: function (data, type, row) {
        return `
            <div class="d-flex justify-content-between fs-5">
              <a href="/du-lieu-hang-ngay/${row.link.slug}" class="text-decoration-none text-dark">
                <i
                    class="ri-edit-box-line"
                    style="cursor: pointer;"
                ></i>
              </a>
              <i
                  class="ri-delete-bin-line"
                  data-bs-toggle="modal"
                  data-bs-target="#deleteModalToggle${row.link._id}"
                  style="cursor: pointer;"
              ></i>
            </div>
            `;
      },
    },
  ];

  initializeDataTable(
    '#datatable',
    '/du-lieu-hang-ngay/getData',
    '#staticBackdrop',
    '#deleteModalToggle',
    columns,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
  );
</script>
