<head>
  <!-- js -->
  <script src="/js/datatable.js"></script>
  <script src="/js/multipleFieldsWithText.js"></script>
  <script src="/js/slim-select.js" defer></script>
  <script src="/js/toggleButtons.js" defer></script>
  <script src="/js/inputFieldRestriction.js" defer></script>
  <script src="/js/toggleFields.js"></script>

  <!-- Tippy -->
  <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/dist/tippy.css" />
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="https://unpkg.com/tippy.js@6"></script>


  <style>
    .hide {
      display: none;
    }

    .rotate {
      transform: rotate(180deg);
      transition: transform 0.3s ease-in-out;
    }
  </style>
</head>

<div class="row m-0 m-md-2 g-3 mb-4">
  <div class="col-12 col-md-9 mt-2">
    <div class="card" style="box-shadow: 0 1px 2px">
      <div class="card-header bg-transparent">
        <form action="/date-access-range/setDateRange" method="post">
          <!-- Date picker range -->
          <div class="row">
            <% if(user.role === 'Admin' || user.role === 'superAdmin'){ %>
            <h5>Ngày truy cập dữ liệu</h5>
            <div class="col-6">
              <%- include('../partials/dateSelection.ejs', {submitButton: true})
              %>
            </div>
            <% } %>
          </div>
          <%- include('../partials/displayAccessDate.ejs') %>
        </form>
        <%- include('../partials/importExcelButton.ejs', {
          page: 'dailySupplyArea',
          area: null,
          requiredFields: [
            { name: 'Tên vườn', description: 'Tên vườn cần tạo', type: 'text' },
            { name: 'Khu vực', description: 'Khu vực của vườn', type: 'text' },
            { name: 'Diện tích vườn', description: 'Diện tích vườn theo mẫu', type: 'number' },
            { name: 'Giá vườn', description: 'Giá vườn (nếu có)', type: 'number' },
            { name: 'Địa chỉ vườn', description: 'Địa chỉ vườn', type: 'text' },
            { name: 'Ngày bắt đầu hợp đồng', description: 'Format dd/mm/yyyy', type: 'date' },
            { name: 'Ngày kết thúc hợp đồng', description: 'Format dd/mm/yyyy', type: 'date' },
            { name: 'Tên nhà vườn', description: 'Tên chủ/nhà vườn', type: 'text' },
            { name: 'Mã nhà vườn', description: 'Mã định danh nhà vườn', type: 'text' },
            { name: 'Số điện thoại', description: '10 số', type: 'text' },
            { name: 'CMND/CCCD', description: 'Căn cước công dân', type: 'text' },
            { name: 'Ngày bắt đầu hợp đồng nhà vườn', description: 'Format dd/mm/yyyy', type: 'date' },
            { name: 'Ngày kết thúc hợp đồng nhà vườn', description: 'Format dd/mm/yyyy', type: 'date' },
            { name: 'Ngày cấp', description: 'Format dd/mm/yyyy', type: 'date' },
            { name: 'Địa chỉ', description: 'Địa chỉ nhà vườn', type: 'text' },
            { name: '% nhận tổng mặc định', description: 'Mặc định 100%', type: 'number' },
            { name: '% nhận mủ mặc định', description: 'Mặc định 100%', type: 'number' },
            { name: 'Tiền cọc', description: 'Mặc định 0', type: 'number' },
            { name: 'Diện tích mua', description: 'Diện tích mua (mẫu)', type: 'number' },
            { name: 'Giá mua', description: 'Giá mua (VNĐ/mẫu)', type: 'number' },
            { name: '% giữ lại', description: 'Phần trăm giữ lại', type: 'number' },
            { name: 'Tạm ứng', description: 'Tiền tạm ứng', type: 'number' }
          ]
        }) %>
      </div>
      <div class="card-body table-responsive">
        <table class="table table-striped" id="datatable">
          <thead>
            <tr>
              <th>STT</th>
              <th>Vườn</th>
              <th>Nướng hàm lượng</th>
              <th>Thời hạn hợp đồng</th>
              <th>Chỉnh sửa</th>
            </tr>
          </thead>

          <tbody>
            <% areas.forEach( (area,index) => { %>

            <!-- Delete confirming modal  -->
            <div class="modal fade" id="deleteModalToggle<%= area._id %>" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel">
                      Xóa vườn <%= area.name %>
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <form action="/du-lieu-hang-ngay/deleteArea/<%= area._id %>?_method=DELETE" method="post">
                    <div class="modal-body">
                      Bạn có muốn xóa vườn
                      <strong><%= area.name %></strong> ? Hành động này không
                      thể hoàn tác.
                    </div>
                    <div class="modal-footer">
                      <button type="submit" onclick="handleFormSubmit(this)" class=" btn btn-danger">
                        Xác nhận
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3 mt-2">
    <div class="card" style="box-shadow: 0 1px 2px">
      <div class="card-header bg-transparent">
        <h4 class="m-0">Tạo vườn</h4>
      </div>
      <form action="/du-lieu-hang-ngay/?_method=POST" method="post">
        <div class="card-body">
          <%- include('../partials/notificationMessage.ejs') %>
          <div>
            <label for="areaName" class="form-label fw-bold">Tên vườn</label>
            <input type="text" class="form-control" id="areaName" name="areaName" required />
          </div>
          <div class="my-3">
            <label for="areaGroup" class="form-label fw-bold">Thuộc khu vực</label>
            <input type="text" class="form-control" id="areaGroup" name="areaGroup" list="areaList" value="Chưa phân loại" required />
            <datalist id="areaList">
              <option value="Chưa phân loại"></option>
              <% listOfGroupAreas.forEach(area => { %>
              <option value="<%= area %>"></option>
              <% }) %>
            </datalist>
          </div>
          <div class="my-3">
            <label for="accountID" class="form-label fw-bold">Người nướng hàm lượng</label>
            <select class="form-control slim-select" id="accountID" name="accountID" required>
              <option value="null" selected>Chọn tài khoản</option>

              <% unassignedHamLuongAccounts.forEach(account => { %>
              <option value="<%= account._id %>">
                <%= account.username %>
              </option>
              <% }) %>
            </select>
          </div>

          <div class="my-3">
            <label for="address" class="form-label fw-bold">Địa chỉ</label>
            <input type="text" class="form-control" id="address" name="address" required maxlength="150" />
          </div>
          <div class="my-3">
            <label class="form-label fw-bold">Thời hạn hợp đồng</label>
            <div class="row">
              <div class="col-6">
                <label for="contractStart" class="form-label">Ngày bắt đầu</label>
                <input type="date" class="form-control" id="contractStart" name="contractDuration[start]" onchange="document.getElementById('contractEnd').min = this.value" />
              </div>
              <div class="col-6">
                <label for="contractEnd" class="form-label">Ngày kết thúc</label>
                <input type="date" class="form-control" id="contractEnd" name="contractDuration[end]" onchange="document.getElementById('contractStart').max = this.value" />
              </div>
            </div>
            <small class="text-muted">Để trống nếu không có ngày hợp đồng</small>
          </div>
          <div class="my-3">
            <label for="areaDimension" class="form-label fw-bold">Diện tích vườn (mẫu)</label>
            <input type="number" class="form-control" id="areaDimension" name="areaDimension" step="0.1" min="0" oninput="toggleFields()" />
            <small class="text-muted">Chỉ áp dụng cho vườn hợp đồng</small>
          </div>
          <div class="my-3">
            <label for="areaPrice" class="form-label fw-bold">Giá vườn</label>
            <input type="text" class="form-control" id="areaPrice" name="areaPrice" min="0" oninput="handleQuantityInput(this);toggleFields()" />
            <small class="text-muted">Để trống nếu không vườn không mua bán</small>
          </div>

          <div class="accordion" id="supplierAccordion">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingSupplier">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSupplier" aria-expanded="false" aria-controls="collapseSupplier">
                  <h5 class="fw-bold mb-0">Thêm nhà vườn</h5>
                </button>
              </h2>
              <div id="collapseSupplier" class="accordion-collapse collapse" aria-labelledby="headingSupplier" data-bs-parent="#supplierAccordion">
                <div class="accordion-body">
                  <div class="supplierInfor my-3">
                    <div class="supplier">
                      <div class="row mt-3">
                        <div class="row m-0 p-0">
                          <div class="col">
                            <label for="name" class="form-label fw-bold w-100 d-flex justify-content-between">
                              1. Nhà vườn
                              <span>
                                <i class="ri-close-line" style="cursor: pointer" onclick="removeProduct(this, '.supplier')"></i>
                              </span>
                            </label>
                          </div>
                        </div>
                        <div class="row normalFields m-0 p-0">
                          <div class="col col-md-6">
                            <label for="supplierName" class="form-label fw-bold">Tên</label>
                            <input type="text" class="form-control" id="supplierName" name="supplierName" maxlength="100" />
                          </div>
                          <div class="col col-md-6">
                            <label for="code" class="form-label fw-bold">Mã</label>
                            <input type="text" class="form-control" id="code" name="code" maxlength="100" />
                          </div>
                        </div>
                        <div class="mt-3">
                          <label for="phone" class="form-label fw-bold">Số điện thoại</label>
                          <input type="text" class="form-control" id="phone" name="phone" maxlength="10" oninput="this.value = this.value.replace(/\D/g, '');" inputmode="numeric" />
                        </div>
                        <div class="row mt-3 m-0 p-0">
                          <div class="col-7">
                            <label for="identification" class="form-label fw-bold">Căn cước công dân</label>
                            <input type="text" class="form-control" id="identification" name="identification" maxlength="12" inputmode="numeric" oninput="this.value = this.value.replace(/\D/g, '');" />
                          </div>
                          <div class="col-5">
                            <label for="issueDate" class="form-label fw-bold">Ngày cấp</label>
                            <input type="text" class="form-control" id="issueDate" name="issueDate" maxlength="10" inputmode="numeric" />
                          </div>
                        </div>
                        <div class="mt-3">
                          <label class="form-label fw-bold">Địa chỉ</label>
                          <input type="text" class="form-control" name="supplierAddress" maxlength="350" />
                        </div>
                        <div class="mt-3 conditional-field">
                          <label for="purchasedAreaDimension" class="form-label fw-bold">Diện tích mua (mẫu)</label>
                          <input type="number" class="form-control" id="purchasedAreaDimension" name="purchasedAreaDimension" step="0.1" min="0" />
                        </div>
                        <div class="mt-3 conditional-field">
                          <label for="purchasedAreaPrice" class="form-label fw-bold">Giá mua (VNĐ/mẫu)</label>
                          <input type="text" class="form-control" id="purchasedAreaPrice" name="purchasedAreaPrice" oninput="handleQuantityInput(this)" inputmode="numeric" />
                        </div>
                        <div class="mt-3 conditional-field">
                          <label for="areaDeposit" class="form-label fw-bold">Tiền đặt cọc</label>
                          <input type="text" class="form-control" id="areaDeposit" name="areaDeposit" min="0" oninput="handleQuantityInput(this)" inputmode="numeric" />
                        </div>
                        <div class="mt-3 conditional-field">
                          <label class="form-label fw-bold">Thời hạn mua</label>
                          <div class="row">
                            <div class="col-6">
                              <label for="areaDurationStart" class="form-label">Ngày bắt đầu</label>
                              <input type="date" class="form-control" id="areaDurationStart" name="areaDuration[start]" onfocus="this.min = document.getElementById('contractStart').value; this.max = document.getElementById('contractEnd').value;" />
                            </div>
                            <div class="col-6">
                              <label for="areaDurationEnd" class="form-label">Ngày kết thúc</label>
                              <input type="date" class="form-control" id="areaDurationEnd" name="areaDuration[end]" onfocus="this.min = document.getElementById('areaDurationStart').value; this.max = document.getElementById('contractEnd').value;" />
                            </div>
                          </div>
                        </div>
                        <div class="mt-3 conditional-field">
                          <label for="moneyRetainedPercentage" class="form-label fw-bold">% Tiền giữ lại</label>
                          <input type="text" class="form-control" id="moneyRetainedPercentage" name="moneyRetainedPercentage" oninput="handlePercentageInput(this)" inputmode="numeric" />
                        </div>
                        <div class="mt-3">
                          <label for="advancePayment" class="form-label fw-bold">Tiền ứng</label>
                          <input type="text" class="form-control" id="advancePayment" name="advancePayment" value="0" oninput="handleQuantityInput(this)" inputmode="numeric" />
                        </div>
                        <div class="mt-3 conditional-field">
                          <label for="ratioRubberSplit" class="form-label fw-bold">% nhận mủ mặc định</label>
                          <input type="text" class="form-control" id="ratioRubberSplit" name="ratioRubberSplit" value="100" oninput="handlePercentageInput(this)" inputmode="numeric" />
                        </div>
                        <div class="mt-3">
                          <label for="ratioSumSplit" class="form-label fw-bold">% nhận tổng mặc định</label>
                          <input type="text" class="form-control" id="ratioSumSplit" name="ratioSumSplit" value="100" oninput="handlePercentageInput(this)" inputmode="numeric" />
                        </div>
                        <div class="additionalFields my-3 m-0 p-0" style="display: none"></div>
                      </div>
                    </div>
                  </div>
                  <div class="btnController my-3">
                    <%- include('../partials/addButton', {
                        functionName: 'addInputField',
                        selector: '.supplierInfor',
                        child: '.supplier', 
                        detailPage: true,
                        label: 'Nhà vườn',
                        tooltip: 'Thêm nhà vườn',
                        iconSize: 'fs-5'
                    }) %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer bg-transparent">
          <!-- Buttons -->
          <button type="submit" onclick="handleFormSubmit(this)" class=" btn btn-primary">Tạo mới</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const productLists = document.querySelectorAll(".supplierInfor .supplier");
    const displayStyle = productLists.length > 1 ? "block" : "none";
    productLists.forEach(
      (el) => (el.querySelector(".ri-close-line").style.display = displayStyle)
    );
  });

  let columns = [{
      data: "no",
      orderable: false,
      width: "1%"
    },
    {
      data: "area",
      orderable: false,
      width: "1%"
    },
    {
      data: "accountID",
      orderable: false,
      width: "1%"
    },
    {
      data: "contractDuration",
      orderable: false,
      width: "1%",
      render: function(data, type, row) {
        const badges = {
          "future": '<span class="badge bg-secondary text-light">Tương lai</span>',
          "No contract": '<span class="badge bg-light text-dark">Không hợp đồng</span>',
          valid: `<span class="badge bg-success">Còn ${data.duration} ngày</span>`,
          expired: '<span class="badge bg-danger">Hết hạn</span>',
        };
        const badgeContent =
          badges[data.status] ||
          '<span class="badge bg-secondary">Không xác định</span>';
        return `<div class="d-flex justify-content-center">${badgeContent}</div>`;
      },
    },
    {
      data: "link",
      orderable: false,
      width: "1%",
      render: function(data, type, row) {
        return `
                <div class="d-flex fs-5 <%= user.role === 'Admin' || user.role === 'superAdmin' ? 'justify-content-evenly' : 'justify-content-center' %>">
                  <a href="/du-lieu-hang-ngay/${row.link.slug}" class="text-decoration-none text-dark">
                    <i class="ri-edit-box-line" style="cursor: pointer;"></i>
                  </a>
                  <% if(user.role === 'Admin' || user.role === 'superAdmin' ){ %>
                    <i class="ri-delete-bin-line" data-bs-toggle="modal" data-bs-target="#deleteModalToggle${row.link._id}" style="cursor: pointer;"></i>
                  <% } %>
              </div>
            `;
      },
    },
  ];

  initializeDataTable(
    "#datatable",
    "/du-lieu-hang-ngay/getData",
    "#staticBackdrop",
    "#deleteModalToggle",
    columns,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false
  );

  initializeToggleFields("areaDimension", "areaPrice");

  tippy('.tooltip-wrapper');
</script>