<head>
  <!-- js -->
  <script src="/js/datatable.js"></script>

  <style>
    @media (max-width: 768px) {
      table {
        min-width: 1200px;
      }
    }
  </style>
</head>

<div
  class="position-absolute"
  style="right: 10px; top: 70px; width: max-content"
>
  <%- include('../partials/notificationMessage.ejs') %>
</div>

<section class="row m-0 px-2">
  <div class="col-md-9 col-12 p-0 px-md-3">
    <div class="col rounded-2 px-1 overflow-auto" style="box-shadow: 0 0 10px">
      <table class="table table-striped" id="managers_table">
        <thead>
          <tr>
            <th>STT</th>
            <th>Tên</th>
            <th>Số điện thoại</th>
            <th>Địa chỉ</th>
            <th>Vườn quản lý</th>
            <th>CCCD mặt trước</th>
            <th>CCCD mặt sau</th>
            <th>Chỉnh sửa</th>
          </tr>
        </thead>
        <tbody>
          <% managers.forEach( (manager,index) => { %>
          <!-- Modal for updating -->
          <div
            class="modal fade"
            id="staticBackdrop<%= index + 1%>"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="staticBackdropLabel"
            aria-hidden="true"
          >
            <div
              class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
            >
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel">
                    Cập nhật thông tin cho <%= manager.name %>
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>

                <form
                  action="/quan-ly-tai-khoan/update/<%= manager._id %>"
                  method="post"
                >
                  <div class="modal-body">
                    <div class="mb-3">
                      <label
                        for="name<%= index + 1 %>"
                        class="form-label"
                        style="float: left"
                        >Tài khoản</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="name<%= index + 1 %>"
                        name="name"
                        value="<%= manager.username %>"
                      />
                    </div>
                    <div class="mb-3">
                      <label
                        for="password<%= index +1  %>"
                        class="form-label"
                        style="float: left"
                        >Mật khẩu mới</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="password<%= index +1  %>"
                        name="password"
                        placeholder="**********"
                      />
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-success">
                      Lưu mới
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <!-- Delete confirming modal  -->
          <div
            class="modal fade"
            id="deleteModalToggle<%= index + 1 %>"
            aria-hidden="true"
            aria-labelledby="exampleModalToggleLabel"
            tabindex="-1"
          >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalToggleLabel">
                    Xóa <%= manager.name %>
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <form
                  action="/quan-ly-tai-khoan/delete/<%=  manager._id %>"
                  method="post"
                >
                  <div class="modal-body">
                    Bạn có muốn xóa tài khoản
                    <strong><%= manager.username %></strong> ? Hành động này
                    không thể hoàn tác.
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-success">
                      Xác nhận
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
  <div
    class="formContainer col-md-3 col-12 rounded-2 my-5 m-md-0 py-3"
    style="
      box-shadow: 0 0 10px;
      background: var(--background_color);
      max-height: 85dvh;
      overflow-y: auto;
    "
  >
    <h4>Thêm người quản lý</h4>
    <form
      action="/quan-ly-nguoi-quan-ly/addManger"
      method="post"
      enctype="multipart/form-data"
    >
      <div class="my-3">
        <label for="name" class="form-label">Tên</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          placeholder="Nhập tên"
        />
      </div>

      <div class="my-3">
        <label for="phone" class="form-label">Số điện thoại</label>
        <input
          type="text"
          class="form-control"
          id="phone"
          name="phone"
          placeholder="Nhập số điện thoại"
          maxlength="12"
        />
      </div>

      <div class="my-3">
        <label for="address" class="form-label">Địa chỉ</label>
        <input
          type="text"
          class="form-control"
          id="address"
          name="address"
          placeholder="Nhập địa chỉ"
        />
      </div>

      <div class="my-3">
        <label for="plantation" class="form-label">Vườn quản lý</label>
        <input
          class="form-control"
          list="datalistOptions"
          id="plantation"
          name="plantation"
          placeholder="Tìm kiếm vườn"
        />
        <datalist id="datalistOptions">
          <option value="665863184056d8d230b302f7"></option>
          <option value="Chicago"></option>
        </datalist>
      </div>

      <div class="my-3">
        <label for="frontIdentification" class="form-label"
          >CCCD mặt trước</label
        >
        <input
          type="file"
          class="form-control"
          id="frontIdentification"
          name="frontIdentification"
          onchange="previewImage(event, 'previewCCCDMT')"
        />
        <div
          class="image-preview"
          style="max-width: 100%; height: auto; overflow: hidden"
        >
          <img
            id="previewCCCDMT"
            alt="CCCDMT"
            style="max-width: 100%; display: none"
          />
        </div>
      </div>

      <div class="my-3">
        <label for="backIdentification" class="form-label">CCCD mặt sau </label>
        <input
          type="file"
          class="form-control"
          id="backIdentification"
          name="backIdentification"
          onchange="previewImage(event, 'previewCCCDMS')"
        />
        <div
          class="image-preview"
          style="max-width: 100%; height: auto; overflow: hidden"
        >
          <img
            id="previewCCCDMS"
            alt="CCCDMS"
            style="max-width: 100%; display: none"
          />
        </div>
      </div>

      <!-- Buttons -->
      <button type="submit" class="btn btn-primary">Thêm</button>
      <button type="reset" class="btn btn-secondary">Làm mới</button>
    </form>
  </div>
</section>

<script>
  const managerColumns = [
    { data: "no", orderable: false },
    { data: "name" },
    { data: "phone" },
    { data: "address" },
    { data: "plantation" },
    { data: "frontIdentification", orderable: false },
    { data: "backIdentification", orderable: false },
    { data: "id", orderable: false },
  ];

  initializeDataTable(
    "#managers_table",
    "/quan-ly-nguoi-quan-ly/getManagers",
    "#staticBackdrop",
    "#deleteModalToggle",
    managerColumns
  );
</script>
