<head>
  <!-- js -->
  <script src="/js/datatable.js"></script>
  <!-- Slim select -->
  <script src="/js/slim-select.js" defer></script>

  <style>
    @media (max-width: 768px) {
      table {
        min-width: 1200px;
      }
    }
  </style>
</head>

<button
  type="button"
  class="btn btn-danger mx-2 mx-md-4 my-3"
  data-bs-toggle="modal"
  data-bs-target="#deleteAll-admin-user"
  style="width: max-content"
>
  Xóa tất cả vườn
</button>
<div class="row m-0 px-2">
  <div class="col-12 col-md-9 p-0 px-md-3">
    <div
      class="col rounded-2 p-2 overflow-auto"
      style="box-shadow: 0 0 10px; max-height: 80dvh"
    >
      <table class="table table-striped table-bordered" id="plantations_table">
        <thead>
          <tr>
            <% ['STT','Khu vực',"Mã vườn", 'Tên', 'Người quản lý',"Thời hạn hợp đồng","Số mẫu", "Dữ liệu", 'Chỉnh sửa'].forEach(header => { %>
              <th><%= header %></th>
            <% }) %>
          </tr>
        </thead>

        <tbody>
          <% plantations.forEach( (plantation,index) => { %>
          <!-- Modal for updating -->
          <div
            class="modal fade"
            id="staticBackdrop<%= index + 1%>"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="staticBackdropLabel"
            aria-hidden="true"
          >
            <div
              class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
            >
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel">
                    Cập nhật thông tin cho <%= plantation.name %>
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>

                <form
                  action="/quan-ly-hang-hoa/update/<%= plantation._id %>"
                  method="post"
                >
                  <div class="modal-body">
                    <div class="my-3">
                      <label for="name<%= index %>" class="form-label"
                        >Tên</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="name<%= index %>"
                        name="name"
                        placeholder="Nhập tên mới"
                        value="<%= plantation.name %>"
                      />
                    </div>

                    <div class="my-3">
                      <label for="unit<%= index %>" class="form-label"
                        >Đơn vị</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="unit<%= index %>"
                        name="unit"
                        placeholder="Nhập đơn vị mới"
                        value="<%= plantation.unit %>"
                      />
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-success">
                      Lưu mới
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <!-- Delete confirming modal  -->
          <div
            class="modal fade"
            id="deleteModalToggle<%= index + 1 %>"
            aria-hidden="true"
            aria-labelledby="exampleModalToggleLabel"
            tabindex="-1"
          >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalToggleLabel">
                    Xóa <%= plantation.name %>
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <form
                  action="/quan-ly-hang-hoa/delete/<%= plantation._id %>"
                  method="post"
                >
                  <div class="modal-body">
                    Bạn có muốn xóa
                    <strong><%= plantation.name %></strong> ? Hành động này
                    không thể hoàn tác.
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">
                      Xác nhận
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
  <div
    class="col-12 col-md-3 rounded-2 my-5 m-md-0 py-3"
    style="
      box-shadow: 0 0 10px;
      background: var(--background_color);
    "
  >
    <%- include('../partials/notificationMessage.ejs') %>
    <div class="accordion" id="plantationAccordion">
      <div class="d-flex d-flex flex-wrap gap-2">
        <button
          class="btn btn-primary"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#createArea"
          aria-expanded="false"
          aria-controls="createArea"
        >
          Tạo vườn 
        </button>
      </div>
      <hr />
      <!-- Create Plantation -->
      <div
        id="createArea"
        class="collapse show"
        aria-labelledby="createAreaHeading"
        data-bs-parent="#plantationAccordion"
      >
        <form action="/quan-ly-vuon/addPlantation" method="post">
          <h5>Tạo vườn mới</h5>

          <div class="my-3">
            <label for="areaID" class="form-label">Tên khu vực</label>
            <input
              type="text"
              id="areaID"
              class="form-control"
              name="areaID"
              list="areas"
              placeholder="Chọn hoặc tạo khu vực"
            />
            <datalist id="areas">
              <% areas.forEach(area => { %>
                <option value="<%= area.name %>"></option>
              <% }) %>
            </datalist>
          </div>
          
          <div class="my-3">
            <label for="code" class="form-label">Mã nhà vườn</label>
              <input
                type="text"
                id="code"
                class="form-control"
                name="code"
                placeholder="Nhập mã nhà vườn"
              />
          </div>

          <div class="my-3">
            <label for="name" class="form-label">Tên vườn</label>
              <input
                type="text"
                id="name"
                class="form-control"
                name="name"
                placeholder="Nhập tên"
              />
          </div>
          
          <div class="my-3">
            <label for="managerID" class="form-label">Người quản lý</label>
            <input
              type="text"
              id="managerID"
              class="form-control"
              name="managerID"
              list="managers"
              placeholder="Chọn hoặc tạo người quản lý"
            />
            <datalist id="managers">
              <% managers.forEach(manager => { %>
                <option value="<%= manager.name %>"></option>
              <% }) %>
            </datalist>
          </div>

          <div class="my-3">
            <div class="row">
              <label >Thời hạn hợp đồng</label>
              <div class="col-6 ">
                <label for="contactDurationStart" >Bắt đầu</label>
                <input
                  type="date"
                  id="contactDurationStart"
                  class="form-control"
                  name="contactDurationStart"
                  placeholder="Nhập thời hạn hợp đồng"
                />
                </div>
                <div class="col-6">
                  <label for="contactDurationEnd">Kết thúc</label>
                  <input
                    type="date"
                    id="contactDurationEnd"
                    class="form-control"
                    name="contactDurationEnd"
                    placeholder="Nhập thời hạn hợp đồng"
                  />
                </div>
            </div>
          </div>

          <div class="my-3">
            <label for="plantationArea" class="form-label">Số mẫu</label>
              <input
                type="text"
                id="plantationArea"
                class="form-control"
                name="plantationArea"
                placeholder="Nhập điện tích của vườn"
              />
          </div>

          <!-- Buttons -->
          <button type="submit" class="btn btn-success">Tạo mới</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal for deleting all plantations -->
<div
  class="modal fade"
  id="deleteAll-admin-user"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="deleteUsers"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteUsers">Xóa tất cả vườn ?</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <form action="/quan-ly-hang-hoa/deleteAll" method="post">
        <div class="modal-body">
          Bạn có muốn xóa <strong>tất cả</strong> thông tin vườn ? Hành
          động này không thể hoàn tác.
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger">Xác nhận</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  const plantationColumns = [
    { data: "no", orderable: false },
    { data: "areaID" },
    { data: "code" },
    { data: "name" },
    { data: "managerID" },
    { data: "contactDuration" },
    { data: "plantationArea" },
    { data: "slug" },
    { data: "id", orderable: false },
  ];

  initializeDataTable(
    "#plantations_table",
    "/quan-ly-vuon/getPlantations",
    "#staticBackdrop",
    "#deleteModalToggle",
    plantationColumns
  );
</script>
