<head>
  <!-- js -->
  <script src="/js/datatable.js"></script>
  <script src="/js/inputFieldRestriction.js" defer></script>
  <script src="/js/multipleFieldsWithText.js" defer></script>

  <!-- Css -->
  <style>
    .updateButton {
      transition: all 200ms linear;
    }
    .rotate {
      transform: rotate(180deg);
      transition: all 200ms linear;
    }
  </style>
</head>
<%- include('../partials/totalValue.ejs') %>

<div class="row m-2 g-3">
  <div class="col-12 col-md-9">
    <div class="card" style="box-shadow: 0 1px 2px;">
      <div class="card-header bg-transparent">
        <div class="row m-0">
          <%- include('../partials/dateSelection.ejs') %>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-bordered table-hover" id="table">
          <thead>
            <tr>
              <th>STT</th>
              <th>Ngày</th>
              <th>Mã hợp đồng</th>
              <th>Hàng hóa</th>
              <th>Ghi chú</th>
              <th>Tổng</th>
              <th>Tình trạng</th>
              <th>Chỉnh sửa</th>
            </tr>
          </thead>

          <tbody>
            <% sales.forEach( (sale,index) => { %>

            <!-- Delete confirming modal  -->
            <div
              class="modal fade"
              id="deleteModalToggle<%= index + 1 %>"
              aria-hidden="true"
              aria-labelledby="exampleModalToggleLabel"
              tabindex="-1"
            >
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel">
                      Xóa hợp đồng <%= sale.code %>
                    </h1>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <form
                    action="/quan-ly-hop-dong/delete/<%= sale._id %>"
                    method="post"
                  >
                    <div class="modal-body">
                      Bạn có muốn xóa hợp đồng mã
                      <strong><%= sale.code %></strong> ? Hành động này không
                      thể hoàn tác.
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-danger">
                        Xác nhận
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div
    class="col-12 col-md-3"
  >
    <div class="card"  style="box-shadow: 0 1px 2px;">
      <div class="card-header bg-transparent">
        <h4>Tạo hợp đồng</h4>
      </div>
      <form action="/quan-ly-hop-dong/createData" method="post">
        <div class="card-body">
          <%- include('../partials/notificationMessage.ejs') %>
          <div>
            <label for="date" class="form-label fw-bold">Ngày nhập</label>
            <input
              type="date"
              class="form-control"
              id="date"
              name="date"
              required
            />
          </div>

          <div class="my-3">
            <label for="code" class="form-label fw-bold">Mã hợp đồng</label>
            <input
              type="text"
              class="form-control"
              id="code"
              name="code"
              placeholder="NPUE-3984"
              required
            />
          </div>

          <div class="productLists my-3">
            <div class="productList">
              <hr>
              <div class="row my-3">
                <div class="row m-0 p-0">
                  <div class="col">
                    <label
                      for="name"
                      class="form-label fw-bold w-100 d-flex justify-content-between"
                      ><%= index + 1 %>. Tên hàng hóa
                      <span
                        ><i
                          class="ri-close-line"
                          style="cursor: pointer"
                          onclick="removeProduct(<%= index + 1 %>, this)"
                        ></i></span
                    ></label>
                    <select class="form-control" name="name" id="name">
                      <option value="product" selected>Thành phẩm</option>
                      <option value="mixedQuantity">Mủ tạp</option>
                      <option value="dryRubber">Quy khô</option>
                    </select>
                  </div>
                </div>
                <div class="row my-3 m-0 p-0">
                  <div class="col col-md-6">
                    <label for="quantity" class="form-label fw-bold">Số lượng</label>
                    <input
                      type="text"
                      class="form-control"
                      id="quantity"
                      name="quantity"
                      placeholder="1234,34"
                      oninput="handleQuantityInput(this)"
                    />
                  </div>
                  <div class="col col-md-6">
                    <label for="price" class="form-label fw-bold">Đơn giá</label>
                    <input
                      type="text"
                      class="form-control"
                      id="price"
                      name="price"
                      placeholder="20000"
                      oninput="handleQuantityInput(this)"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="btnController my-3">
            <button
              type="button"
              class="btn btn-outline-secondary btn-sm"
              onclick="addInputField('form .productLists', '.productList')"
            >
              +
            </button>
          </div>

          <div class="my-3">
            <label for="notes" class="form-label fw-bold">Ghi chú</label>
            <textarea
              type="text"
              class="form-control"
              rows="3"
              id="notes"
              name="notes"
            ></textarea>
          </div>
        </div>
        <div class="card-footer bg-transparent">
          <!-- Buttons -->
          <button type="submit" class="btn btn-primary">Tạo</button>
          <button type="reset" class="btn text-dark">Làm mới</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  let columns = [
    { data: 'no', orderable: false },
    { data: 'date', searchable: true, width: "15%" },
    { data: 'code', orderable: false },
    { data: 'products', orderable: false },
    { data: 'notes', orderable: false },
    { data: 'total', orderable: false },
    {
      data: 'status',
      render: function (data) {
        return data === 'active'
          ? `  <div class="row">
          <div class="col text-center "  >
            <div class="badge bg-success" style= "pointer-event: none">
              Đang mở
            </div>
          </div>
        </div>
      </div>`
          : `  <div class="row">
          <div class="col text-center "  >
            <div class="badge bg-danger" style= "pointer-event: none">
              Đã đóng
            </div>
          </div>
        </div>
      </div>`;
      },
    },
    {
      data: 'slug',
      orderable: false,
      render: function (data, type, row) {
        console.log(row);
        return `<div class="d-flex justify-content-between fs-5">
          <a href="/quan-ly-hop-dong/hop-dong/${data}" class="text-decoration-none text-dark">
            <i class="ri-edit-box-line" style="cursor: pointer;"></i>
          </a>
            
          <i class="ri-delete-bin-line" data-bs-toggle="modal" data-bs-target="#deleteModalToggle${row.no}" style="cursor: pointer;"></i>
          </div>`;
      },
    },
  ];

  initializeDataTable(
    '#table',
    '/quan-ly-hop-dong/getDatas',
    '#staticBackdrop',
    '#deleteModalToggle',
    columns,
    false,
    '#filterButton',
    '#startDate',
    '#endDate',
    '#clearFilterButton',
    false,
    false,
    false,
    false,
    false,
    false,
    false,
  );

  document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('.productLists').forEach(list => {
      const items = list.querySelectorAll('.productList');
      items.forEach(
        item =>
          (item.querySelector('.ri-close-line').style.display =
            items.length > 1 ? 'block' : 'none'),
      );
    });
  });
</script>
