<head>
  <!-- js -->
  <script src="/js/datatable.js"></script>
  <script src="/js/inputFieldRestriction.js" defer></script>
  <script src="/js/multipleFieldsWithText.js" defer></script>
  <script src="/js/handleSelectField.js" defer></script>

  <!-- Css -->
  <style>
    .updateButton {
      transition: all 200ms linear;
    }

    .rotate {
      transform: rotate(180deg);
      transition: all 200ms linear;
    }
  </style>
</head>

<%- include('../partials/totalValue') %> <% if(user.role === 'Admin' || user.role === 'superAdmin'){ %>
<button type="button" class="btn btn-danger mx-2 mx-md-3 mt-2" data-bs-toggle="modal" data-bs-target="#deleteAll" style="width: max-content">
  Xóa tất cả thông tin
</button>
<% } %>

<div class="row m-0 m-md-2 g-3 mb-4">
  <div class="col-12 col-md-9 mt-2">
    <div class="card" style="box-shadow: 0 1px 2px">
      <div class="card-header bg-transparent">
        <div class="row m-0">
          <%- include('../partials/dateSelection.ejs') %>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-striped" id="table">
          <thead>
            <tr>
              <th>STT</th>
              <th>Ngày</th>
              <th>Mã hợp đồng</th>
              <th>Hàng hóa</th>
              <th>Ghi chú</th>
              <th>Tổng (vnd)</th>
              <th>Tình trạng</th>
              <th>Chỉnh sửa</th>
            </tr>
          </thead>

          <tbody>
            <% sales.forEach( (sale,index) => { %>

            <!-- Products modal -->
            <div class="modal fade" id="productList<%= sale._id %>" aria-hidden="true" aria-labelledby="productList" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="productList">
                      Hàng hóa của hợp đồng <%= sale.code %>
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="productLists">
                      <% sale.products.forEach((product, index) => { %>
                      <div class="item">
                        <div class="row my-3">
                          <div class="row m-0 p-0">
                            <div class="col-6">
                              <label for="name" class="form-label fw-bold w-100 d-flex justify-content-between">
                                <%= index + 1 %>. Hàng hóa
                              </label>
                              <input type="text" class="form-control" value="<%= product.name === 'product' ? 'Thành phẩm' : product.name === 'mixedQuantity' ? 'Mủ tạp' : 'Quy khô' %>" disabled />
                            </div>
                            <div class="col-6">
                              <label class="form-label fw-bold w-100 d-flex justify-content-between">Ngày nhập
                              </label>
                              <input type="date" class="form-control" name="inputDate" required disabled value="<%= sale.date.toISOString().slice(0,10) %>" />
                            </div>
                          </div>
                          <div class="row my-3 m-0 p-0">
                            <% if(product.name === "dryRubber"){ %>
                            <div class="col col-md-4">
                              <label class="form-label fw-bold">Số lượng</label>
                              <input type="text" class="form-control" value="<%= product.quantity.toLocaleString('vi-VN') %>" disabled />
                            </div>
                            <div class="col col-md-4">
                              <label class="form-label fw-bold">Hàm lượng</label>
                              <input type="text" class="form-control" value="<%= product.percentage %>" disabled />
                            </div>
                            <div class="col col-md-4">
                              <label class="form-label fw-bold">Tổng</label>
                              <input type="text" class="form-control" value="<%= ((product.quantity * product.percentage) / 100).toLocaleString('vi-VN') %>" disabled />
                            </div>
                            <% }else{ %>
                            <div class="col col-md-6">
                              <label class="form-label fw-bold">Số lượng</label>
                              <input type="text" class="form-control" value="<%= product.quantity.toLocaleString('vi-VN') %>" disabled />
                            </div>
                            <div class="col col-md-6">
                              <label class="form-label fw-bold">Đơn giá</label>
                              <input type="text" class="form-control" value="<%= product.price.toLocaleString('vi-VN') %>" disabled />
                            </div>
                            <% } %>
                          </div>
                          <% if(product.name === 'dryRubber'){ %>
                          <div class="row m-0 p-0">
                            <div class="col col-md-6">
                              <label class="form-label fw-bold">Đơn giá</label>
                              <input type="text" class="form-control" value="<%= product.price.toLocaleString('vi-VN') %>" disabled />
                            </div>
                          </div>
                          <% } %>
                        </div>
                        <hr />
                      </div>

                      <% }) %>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Delete confirming modal  -->
            <div class="modal fade" id="deleteModalToggle<%= sale._id %>" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel">
                      Xóa hợp đồng <%= sale.code %> ngày <%= sale.date.toLocaleDateString() %>
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <form action="/quan-ly-hop-dong/<%= sale._id %>?_method=DELETE" method="post">
                    <div class="modal-body">
                      Bạn có muốn xóa hợp đồng mã
                      <strong><%= sale.code %></strong> ngày <strong><%= sale.date.toLocaleDateString() %></strong> ? Hành động này không
                      thể hoàn tác.
                    </div>
                    <div class="modal-footer">
                      <button type="submit" onclick="handleFormSubmit(this)" class=" btn btn-danger">
                        Xác nhận
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <% }) %>
          </tbody>
          <tfoot>
            <th colspan="5">Tổng</th>
            <th></th>
            <th colspan="2"></th>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3 mt-2">
    <div class="card" style="box-shadow: 0 1px 2px">
      <div class="card-header bg-transparent">
        <h4 class="m-0">Tạo hợp đồng</h4>
      </div>
      <form action="/quan-ly-hop-dong" method="post">
        <div class="card-body">
          <%- include('../partials/notificationMessage.ejs') %>
          <div>
            <label for="date" class="form-label fw-bold">Ngày nhập</label>
            <input type="date" class="form-control" id="date" name="date" required autofocus />
          </div>

          <div class="my-3">
            <label for="code" class="form-label fw-bold">Mã hợp đồng</label>
            <input type="text" class="form-control" id="code" name="code" required />
          </div>

          <div class="productLists mt-3">
            <div class="productList">
              <hr />
              <div class="row mt-3">
                <div class="row m-0 p-0">
                  <div class="col">
                    <label for="name" class="form-label fw-bold w-100 d-flex justify-content-between">
                      1. Hàng hóa
                      <span>
                        <i class="ri-close-line" style="cursor: pointer" onclick="removeProduct(this,'.productList')"></i>
                      </span>
                    </label>
                    <select class="form-control" name="name" id="name" onchange="handleProductChange(this, this.closest('.productList'), false)">
                      <option value="product" selected>Thành phẩm</option>
                      <option value="mixedQuantity">Mủ tạp</option>
                      <option value="dryRubber">Quy khô</option>
                    </select>
                  </div>
                </div>
                <div class="row normalFields my-3 m-0 p-0">
                  <div class="col col-md-6">
                    <label for="quantity" class="form-label fw-bold">Số lượng</label>
                    <input type="text" class="form-control" id="quantity" name="quantity" oninput="handleQuantityInput(this)" inputmode="numeric" required />
                  </div>
                  <div class="col col-md-6">
                    <label for="price" class="form-label fw-bold">Đơn giá</label>
                    <input type="text" class="form-control" id="price" name="price" oninput="handleQuantityInput(this)" inputmode="numeric" required />
                  </div>
                </div>
                <div class="additionalFields my-3 m-0 p-0" style="display: none"></div>
              </div>
            </div>
          </div>

          <div class="btnController">
            <button type="button" onclick="addInputField('form .productLists', '.productList', false, 'Hàng hóa')" style="background: transparent; border: none" title="Thêm hàng hóa">
              <i class="ri-add-circle-line fs-5"></i>
            </button>
          </div>

          <div class="my-3">
            <label for="notes" class="form-label fw-bold">Ghi chú</label>
            <textarea type="text" class="form-control" rows="3" id="notes" name="notes"></textarea>
          </div>
        </div>
        <div class="card-footer bg-transparent">
          <!-- Buttons -->
          <button type="submit" onclick="handleFormSubmit(this)" class=" btn btn-primary">Tạo</button>
          <button type="reset" class="btn text-dark">Làm mới</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal for deleting all -->
<div class="modal fade" id="deleteAll" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteUsers" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteUsers">Xóa tất cả hợp đồng</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form action="/quan-ly-hop-dong/deleteAll" method="post">
        <div class="modal-body">
          Bạn có muốn xóa <strong class="fs-3">tất cả</strong> thông tin ? Hành
          động này không thể hoàn tác.
        </div>
        <div class="modal-footer">
          <button type="submit" onclick="handleFormSubmit(this)" class=" btn btn-danger">Xác nhận</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  let columns = [{
      data: 'no',
      orderable: false,
      width: '1%',
      visible: false
    },
    {
      data: 'date',
      searchable: true,
      width: '10%'
    },
    {
      data: 'code',
      orderable: false,
      width: '15%'
    },
    {
      data: 'products',
      orderable: false,
      width: '12%',
      render: function(data, row, type) {
        return `
          <a class="link-opacity-50-hover" data-bs-toggle="modal" data-bs-target="#productList${data}" style="cursor: pointer">Xem</a>
        `;
      },
    },
    {
      data: 'notes',
      orderable: false,
      width: '15%'
    },
    {
      data: 'total',
      orderable: false,
      width: '20%'
    },
    {
      data: 'status',
      width: '15%',
      render: function(data) {
        return data === 'active' ?
          `  <div class="row">
          <div class="col text-center "  >
            <div class="badge bg-success" style= "pointer-event: none">
              Đang mở
            </div>
          </div>
        </div>
      </div>` :
          `  <div class="row">
          <div class="col text-center "  >
            <div class="badge bg-danger" style= "pointer-event: none">
              Đã đóng
            </div>
          </div>
        </div>
      </div>`;
      },
    },
    {
      data: 'slug',
      width: '13%',
      orderable: false,
      render: function(data, type, row) {
        return `<div class="d-flex justify-content-between fs-5">
          <a href="/quan-ly-hop-dong/hop-dong/${data.slug}" class="text-decoration-none text-dark">
            <i class="ri-edit-box-line" style="cursor: pointer;"></i>
          </a>
            
          <i class="ri-delete-bin-line" data-bs-toggle="modal" data-bs-target="#deleteModalToggle${data.id}" style="cursor: pointer;"></i>
          </div>`;
      },
    },
  ];

  initializeDataTable(
    '#table',
    '/quan-ly-hop-dong/getDatas',
    '#staticBackdrop',
    '#deleteModalToggle',
    columns,
    false,
    '#filterButton',
    '#startDate',
    '#endDate',
    '#clearFilterButton',
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    true,
  );

  document.addEventListener('DOMContentLoaded', () => {
    const productLists = document.querySelectorAll(
      '.productLists .productList',
    );
    const displayStyle = productLists.length > 1 ? 'block' : 'none';
    productLists.forEach(
      el => (el.querySelector('.ri-close-line').style.display = displayStyle),
    );
  });
</script>