<head>
    <!-- Tippy -->
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/dist/tippy.css" />
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
</head>

<button class="btn btn-outline-danger mb-3" data-bs-target="#deletionRequestsModal" data-bs-toggle="modal">
    Yêu cầu xóa
</button>

<!-- Modal for displaying the deletionRequests -->
<div class="modal fade" id="deletionRequestsModal" tabindex="-1" aria-labelledby="deletionRequestsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deletionRequestsModalLabel">Yêu cầu xóa dữ liệu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% if (deletionRequests.length > 0) { %>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Thời gian</th>
                <th>Người yêu cầu</th>
                <th>Lý do</th>
                <th>Dữ liệu</th>
                <th>Trạng thái </th>
                <th>Thao tác </th>
            </tr>
            </thead>
            <tbody>
            <% deletionRequests.forEach(request => { %>
                <tr>
                    <td><%= new Date(request.requestedAt).toLocaleString() %></td>
                    <td><%= request.requestedBy.username %> (<%= request.requestedBy.role %>)</td>
                    <td><%= request.reason %></td>
                    <td><button class="btn btn-link p-0" data-bs-target="#dataDetailModal<%= request._id %>" data-bs-toggle="modal">Chi tiết</button></td>
                    <td><span class="<%= request.status === 'pending' || request.status === 'rejected' ?  'text-danger'  : 'text-success' %>"><%= request.status === 'pending' ? 'Chờ xử lý' : request.status === 'rejected' ? 'Từ chối' :'Hoàn tất' %></span></td>
                    <td style="display: flex; align-items: center; justify-content: space-evenly;">
                      <i class="bi bi-check-square-fill text-success tooltip-wrapper" data-tippy-content="Chấp nhận xóa" style="cursor: pointer;"></i>
                      <form action="/du-lieu-hang-ngay/rejectDeletionRequest/<%= request._id %>" method="post">
                        <button type="submit" class="btn">
                          <i class="bi bi-x-square-fill text-danger tooltip-wrapper" data-tippy-content="Từ chối xóa" style="cursor: pointer;"></i>
                        </button>
                      </form>
                    </td>
                </tr>
            <% }) %>
            </tbody>
        </table>
        <% } else { %>
        <p>Không có dữ liệu.</p>
        <% } %>     
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>

<!-- Modals for viewing the data details -->
<% deletionRequests.forEach(request => { %>
<div class="modal fade" id="dataDetailModal<%= request._id %>" tabindex="-1" aria-labelledby="dataDetailModalLabel<%= request._id %>" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="dataDetailModalLabel<%= request._id %>">Chi tiết dữ liệu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Display the data details here -->
        <p><strong>Thời gian:</strong> <%= new Date(request.requestedAt).toLocaleString() %></p>
        <p><strong>Người yêu cầu:</strong> <%= request.requestedBy.username %> (<%= request.requestedBy.role %>)</p>
        <p><strong>Lý do:</strong> <%= request.reason %></p>
        <p><strong>Trạng thái:</strong> <%= request.status === 'pending' ? 'Chờ xử lý' : request.status === 'rejected' ? 'Từ chối' :'Hoàn tất' %></p>
        <% if (request.dataId && request.rawMaterial) { %>

          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th colspan="3">Mủ nước</th>
                <th>Mủ tạp</th>
                <th>Mủ ké</th>
                <th>Mủ đông</th>
                <th rowspan="2">Khác</th>
              </tr>
              <tr>
                <th>SL</th>
                <th>Hàm lượng</th>
                <th>Quy khô</th>
                <th>SL</th>
                <th>SL</th>
                <th>SL</th>
              </tr>
              
            </thead>
            <tr>
              <% request.rawMaterial.forEach(material => { %>
                <% if(material.name === "Mủ nước"){ %>
                  <td><%= material.quantity %></td>
                  <td><%= material.percentage %></td>
                  <td><%= material.quantity * material.percentage / 100 %></td>
                <% } else { %>
                  <td><%= material.quantity %></td>
                <% } %>
              <% }) %>
              <td><%= request.note %></td>
            </tr>
          </table>

        <% } else { %>
          <p>No raw materials found.</p>
        <% } %>
        <!-- Add more details as needed -->
      </div>
      <div class="modal-footer">
        <a class="btn btn-secondary" data-bs-toggle="modal" href="#deletionRequestsModal" role="button">Quay lại</a>
      </div>
    </div>
  </div>
</div>
<% }) %>

<script>
  tippy('.tooltip-wrapper');
</script>