<head>
  <style>
    .nav-link:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }

    #mobileNav {
      transition: transform 0.3s ease-in-out;
    }

    #mobileNav.hide {
      transform: translateY(100%);
    }

    .badge-top-right {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(50%, -50%);
    }

    .rotate-45 {
      transform: rotate(45deg);
      transition: transform 0.3s ease-in-out;
    }

    .rotate-0 {
      transform: rotate(0deg);
      transition: transform 0.3s ease-in-out;
    }
  </style>
</head>

<nav class="min-vh-100 d-none d-md-flex flex-column flex-shrink-0 p-3" style="width: 230px; background: white;">
  <div class="d-flex align-items-center justify-content-center">
    <a href="/tong">
      <img src="/images/OIG3.HcFjYMBA3iNvsE-removebg-preview.png" alt="Logo" loading="lazy" height="100px" style="object-fit: contain;" />
    </a>
  </div>

  <ul class="nav nav-pills flex-column mb-auto">
    <% const pages = [
      { path: '/tong', title: 'Tổng', icon: 'ri-line-chart-line' },
      { path: '/quan-ly-du-lieu', title: 'Dữ liệu tổng', icon: 'ri-database-line' },
      { path: '/quan-ly-hang-hoa', title: 'Chạy lò', icon: 'ri-instance-line' },
      { path: '/quan-ly-hop-dong', title: 'Hợp đồng', icon: 'ri-contract-line' },
      { path: '/quan-ly-chi-tieu', title: 'Chi tiêu', icon: 'ri-bill-line' },
      { path: '/du-lieu-hang-ngay', title: 'Dữ liệu ngày', icon: 'ri-numbers-line' },
      { path: '/nhap-du-lieu/nguyen-lieu', title: 'Thêm nguyên liệu', icon: 'ri-edit-line' },
      { path: '/du-lieu/nhat-ky-hoat-dong', title: 'Lịch sử hoạt động', icon: 'ri-history-line' }
    ] %>

    <% pages.forEach(page => { %>
    <% if (user.role === 'Admin' || user.role === 'superAdmin' || ( user.permissions.pages.find(p => page.path.includes(p.path) )?.allowed)) { %>
    <li class="nav-item">
      <a href="<%= page.path %>" class="position-relative nav-link link-dark d-flex justify-content-between">
        <%= page.title %>
        <i class="<%= page.icon %>"></i>
        <% if (page.path === '/du-lieu/nhat-ky-hoat-dong' && unreadCount > 0) { %>
        <span class="position-absolute badge bg-danger badge-top-right"><%= unreadCount < 100 ? unreadCount : '99+' %></span>
        <% } %>
      </a>
    </li>
    <% } %>
    <% }) %>
    <% if(user.role === 'Admin' || user.role === 'superAdmin'){ %>
    <li class="nav-item">
      <a href="/quan-ly-tai-khoan" class="nav-link link-dark d-flex justify-content-between">
        Quản lý tài khoản
        <i class="ri-group-line"></i>
      </a>
    </li>
    <% } %>
  </ul>

  <hr />
  <div class="logOut">
    <form action="/quan-ly-tai-khoan/logOut" method="post" style="cursor: pointer">
      <button type="submit" onclick="handleFormSubmit(this)" class="fs-6 border-0 w-100 d-flex justify-content-between" style="background: none">
        Đăng xuất
        <i class="ri-logout-box-r-line"></i>
      </button>
    </form>
  </div>
</nav>

<!-- Mobile navigation -->
<nav id="mobileNav" class="d-md-none navbar fixed-bottom nav-pills" style="background: white; height: 4.8rem; border-top: 1px solid rgba(0, 0, 0, 0.275);">
  <div class="w-100 d-flex flex-nowrap justify-content-evenly">
    <% const mobilePages = pages.filter(page => 
      user.role === 'Admin' || user.role === 'superAdmin' || 
      ( 
       user.permissions.pages.find(p => page.path.includes(p.path))?.allowed)
    ).slice(0, 3) %>

    <% mobilePages.forEach(page => { %>
    <a class="nav-link link-dark d-flex align-items-center justify-content-center flex-column" href="<%= page.path %>" style="width: 5rem; text-align: center; font-size: 0.8rem; padding: 5px;">
      <i class="<%= page.icon %>" style="font-size: 1.4rem; display: block"></i>
      <%= page.title %>
    </a>
    <% }) %>

    <button class="btn d-flex align-items-center justify-content-center flex-column" role="button" data-bs-toggle="collapse" data-bs-target="#collapseNav" aria-expanded="false" aria-controls="collapseNav" style="width: 4rem; height: 4rem; font-size: 4rem; padding: 5px; border-radius: 50%;">
      <i id="collapseIcon" class="ri-add-circle-fill rotate-0" style="color: #e8c06b;"></i>
    </button>
  </div>
</nav>

<nav class="collapse position-fixed w-100 navbar nav-pills p-0" id="collapseNav" style="z-index: 1000; bottom: 4.7rem;">
  <ul class="list-group" style="border-top-right-radius: 20px; border-top-left-radius: 20px; width: 100%;">
    <% const collapsedPages = pages.filter(page => 
      user.role === 'Admin' ||user.role === 'superAdmin' || 
      ( 
       user.permissions.pages.find(p => page.path.includes(p.path))?.allowed)
    ).slice(3) %>

    <% collapsedPages.forEach(page => { %>
    <li class="list-group-item text-center p-0">
      <a class="nav-link link-dark p-3" href="<%= page.path %>"><%= page.title %></a>
    </li>
    <% }) %>
    <% if(user.role === 'Admin' || user.role === 'superAdmin' ){ %>
    <li class="list-group-item text-center p-0">
      <a class="nav-link link-dark p-3" href="/quan-ly-tai-khoan">Quản lý tài khoản</a>
    </li>
    <% } %>
  </ul>
</nav>

<script>
  // Active link highlighting
  const currentURL = window.location.pathname;
  const navigationLinks = document.querySelectorAll('nav a');

  navigationLinks.forEach(link => {
    const linkHref = link.getAttribute('href');
    if (currentURL.includes(linkHref)) {
      link.classList.add('active');
      link.classList.remove('link-dark');
    } else {
      link.classList.remove('active');
      link.classList.add('link-dark');
    }
  });

  // Mobile navigation hide on scroll
  document.addEventListener('DOMContentLoaded', function() {
    let lastScrollTop = 0;
    const mobileNav = document.getElementById('mobileNav');
    const collapseNav = document.getElementById('collapseNav');
    const scrollContainer = document.querySelector('.container-fluid');
    const collapseIcon = document.getElementById('collapseIcon');

    scrollContainer.addEventListener('scroll', function() {
      const scrollTop = scrollContainer.scrollTop;
      const isScrollingDown = scrollTop > lastScrollTop;

      mobileNav.classList.toggle('hide', isScrollingDown);
      collapseNav.classList.remove('show');
      collapseIcon.classList.toggle('rotate-45', isScrollingDown);
      collapseIcon.classList.toggle('rotate-0', !isScrollingDown);

      lastScrollTop = Math.max(scrollTop, 0);
    });
  });

  // Collapse icon animation
  document.getElementById('collapseIcon').addEventListener('click', function() {
    this.classList.toggle('rotate-45');
    this.classList.toggle('rotate-0');
  });
</script>