<div class="row mx-2 mb-3 gy-2">
  <div class="col-12 col-md-3 pe-0">
    <div class="card" style="border-left: 5px solid rgb(13, 110, 253)">
      <div
        class="card-body <%= total[0]?.mixedQuantity?.raw < 0 ? 'text-danger' : total[0]?.mixedQuantity?.raw > 0 ? 'text-success' : '' %>"
      >
        <h5><%= total[0]?.mixedQuantity?.formatted || 0 %></h5>
        <div class="card-text text-muted" style="font-size: smaller">
          <div class="d-flex justify-content-between align-items-center">
            <div class="w-75">
              <div>Mủ tạp</div>
            </div>
            <div>KG</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3 pe-0">
    <div class="card" style="border-left: 5px solid rgb(255, 179, 0)">
      <div
        class="card-body <%= total[0]?.dryRubber?.raw < 0 ? 'text-danger' : total[0]?.dryRubber?.raw > 0 ? 'text-success' : '' %>"
      >
        <h5><%= total[0]?.dryRubber?.formatted || 0 %></h5>
        <div class="card-text text-muted" style="font-size: smaller">
          <div class="d-flex justify-content-between align-items-center">
            <div class="w-75">
              <div>Quy khô</div>
            </div>
            <div>KG</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3 pe-0">
    <div class="card" style="border-left: 5px solid rgb(38, 166, 154)">
      <div
        class="card-body <%= total[0]?.product?.raw < 0 ? 'text-danger' : total[0]?.product?.raw > 0 ? 'text-success' : '' %>"
      >
        <h5><%= total[0]?.product?.formatted || 0 %></h5>
        <div class="card-text text-muted" style="font-size: smaller">
          <div class="d-flex justify-content-between align-items-center">
            <div class="w-75">
              <div>Thành phẩm</div>
            </div>
            <div>KG</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3 pe-0">
    <div class="card" style="border-left: 5px solid rgb(156, 39, 176)">
      <div
        class="card-body <%= total[0]?.income?.raw < 0 ? 'text-danger' : total[0]?.income?.raw > 0 ? 'text-success' : '' %>"
      >
        <h5><%= total[0]?.income?.formatted || 0 %></h5>
        <div class="card-text text-muted" style="font-size: smaller">
          <div class="d-flex justify-content-between align-items-center">
            <div class="w-75">
              <div>Thành tiền</div>
            </div>
            <div>VND</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 
<div class="container-fluid mb-3">
  <div class="row m-0">
    <div
      class="col-6 col-md-3 gap-2 d-flex align-items-center justify-content-center"
    >
      <div
        class="data p-2 text-bold rounded-2 <%= total[0]?.mixedQuantity?.raw < 0 ? 'text-danger' : total[0]?.mixedQuantity?.raw > 0 ? 'text-success' : '' %>"
        style="box-shadow: 0 0 4px; width: fit-content"
      >
        <%= total[0]?.mixedQuantity?.formatted || 0 %>
      </div>
      <span>Mủ tạp (kg)</span>
    </div>
    <div
      class="col-6 col-md-3 gap-2 d-flex align-items-center justify-content-center"
    >
      <div
        class="data p-2 text-bold rounded-2 <%= total[0]?.dryRubber?.raw < 0 ? 'text-danger' : total[0]?.dryRubber?.raw > 0 ? 'text-success' : '' %>"
        style="box-shadow: 0 0 4px; width: fit-content"
      >
        <%= total[0]?.dryRubber?.formatted || 0 %>
      </div>
      <span>Quy Khô (kg)</span>
    </div>
    <div
      class="col-6 col-md-3 gap-2 d-flex align-items-center justify-content-center"
    >
      <div
        class="data p-2 text-bold rounded-2 <%= total[0]?.product?.raw < 0 ? 'text-danger' : total[0]?.product?.raw > 0 ? 'text-success' : '' %>"
        style="box-shadow: 0 0 4px; width: fit-content"
      >
        <%= total[0]?.product?.formatted || 0 %>
      </div>
      <span>Thành phẩm (kg)</span>
    </div>
    <div
      class="col-6 col-md-3 gap-2 d-flex align-items-center justify-content-center"
    >
      <div
        class="data p-2 text-bold rounded-2 <%= total[0]?.income?.raw < 0 ? 'text-danger' : total[0]?.income?.raw > 0 ? 'text-success' : '' %>"
        style="box-shadow: 0 0 4px; width: fit-content"
      >
        <%= total[0]?.income?.formatted || 0 %>
      </div>
      <span>Thu vào (VND)</span>
    </div>
  </div>
</div> -->
