<div class="row m-0 m-md-2 g-3">

  <div class="col-12 col-md-4">
    <div class="card" style="border-left: 5px solid  rgb(92, 0, 121)">
      <div
        class="card-body <%= total[0]?.dryRubber?.raw < 0 ? 'text-danger' : total[0]?.dryRubber?.raw > 0 ? 'text-success' : '' %>"
      >
        <h5><%= (total[0]?.dryRubber?.formatted || 0).toLocaleString('vi-VN') %></h5>
        <div class="card-text text-muted" style="font-size: smaller">
          <div class="d-flex justify-content-between align-items-center">
            <div class="w-75">
              <div>Quy khô</div>
            </div>
            <div>KG</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <div class="card" style="border-left: 5px solid rgb(255, 179, 0)">
      <div
        class="card-body <%= total[0]?.product?.raw < 0 ? 'text-danger' : total[0]?.product?.raw > 0 ? 'text-success' : '' %>"
      >
        <h5><%= (total[0]?.product?.formatted || 0).toLocaleString('vi-VN') %></h5>
        <div class="card-text text-muted" style="font-size: smaller">
          <div class="d-flex justify-content-between align-items-center">
            <div class="w-75">
              <div>Thành phẩm</div>
            </div>
            <div>KG</div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="col-12 col-md-4">
    <div class="card" style="border-left: 5px solid rgb(32, 231, 201)">
      <div
        class="card-body <%= total[0]?.mixedQuantity?.raw < 0 ? 'text-danger' : total[0]?.mixedQuantity?.raw > 0 ? 'text-success' : '' %>"
      >
        <h5><%= (total[0]?.mixedQuantity?.formatted || 0).toLocaleString('vi-VN') %></h5>
        <div class="card-text text-muted" style="font-size: smaller">
          <div class="d-flex justify-content-between align-items-center">
            <div class="w-75">
              <div>Mủ tạp</div>
            </div>
            <div>KG</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <div class="card" style="border-left: 5px solid rgb(13, 110, 253)">
      <div
        class="card-body <%= total[0]?.income?.raw < 0 ? 'text-danger' : total[0]?.income?.raw > 0 ? 'text-success' : '' %>"
      >
        <h5><%= Math.round(total[0]?.income?.formatted || 0).toLocaleString('vi-VN') %></h5>
        <div class="card-text text-muted" style="font-size: smaller">
          <div class="d-flex justify-content-between align-items-center">
            <div class="w-75">
              <div>Thu nhập</div>
            </div>
            <div>VND</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <div class="card" style="border-left: 5px solid rgb(255, 38, 38)">
      <div
        class="card-body <%= total[0]?.spend?.raw > 0 ? 'text-danger' : '' %>"
      >
        <h5><%= Math.round(total[0]?.spend?.formatted || 0).toLocaleString('vi-VN') %></h5>
        <div class="card-text text-muted" style="font-size: smaller">
          <div class="d-flex justify-content-between align-items-center">
            <div class="w-75">
              <div>Chi phí</div>
            </div>
            <div>VND</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <div class="card" style="border-left: 5px solid rgb(40, 167, 69)">
      <div
        class="card-body <%= total[0]?.profit?.raw < 0 ? 'text-danger' : total[0]?.profit?.raw > 0 ? 'text-success' : '' %>"
      >
        <h5><%= Math.round(total[0]?.profit?.formatted || 0).toLocaleString('vi-VN') %></h5>
        <div class="card-text text-muted" style="font-size: smaller">
          <div class="d-flex justify-content-between align-items-center">
            <div class="w-75">
              <div>Lợi nhuận</div>
            </div>
            <div>VND</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>